<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center header-transparent-subpage">
    <div class="container d-flex align-items-center">
        <a href="javascript:;" class="logo me-auto"><img src="assets/img/logo-small.png" id="myDiv"
                class="img-fluid"></a>
        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto" href="javascript:;" [routerLink]="['/home']">Home</a></li>
                <li class="dropdown"><a href="#about" class="nav-link scrollto"><span>About</span> <i
                            class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="#about" class="nav-link scrollto">About us</a></li>
                        <li><a href="#footer" class="nav-link scrollto">Contact us</a></li>
                        <li><a href="#documents" class="nav-link scrollto">Putholi Policy Documents</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#features" class="nav-link scrollto"><span>Features</span> <i
                            class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="#features" class="nav-link scrollto">Philosophy</a></li>
                        <li><a href="#vision" class="nav-link scrollto">Vision / Mission</a></li>
                        <li><a href="#faq" class="nav-link scrollto">FAQ</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#portfolio" class="nav-link scrollto"><span>Gallery</span> <i
                            class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="#portfolio" class="nav-link scrollto">Pictures</a></li>
                    </ul>
                </li>

                <li><a class="nav-link scrollto" href="javascript:;" [routerLink]="['/portal/trackingdonation']">Track
                        Money</a></li>
                <li><a class="nav-link active scrollto" href="javascript:;"
                        [routerLink]="['/portal/school-list']">Donate</a>
                </li>
                <li><a class="nav-link scrollto" [href]="env.adminUrl">Login/Register</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header>
<!-- End Header -->

<!-- Start #main -->
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="titleparent">
                    <div class="titleleft margin-right-auto">
                        <h2>Refund and Cancellation Policy</h2>
                    </div>
                    <div class="titleright">
                        <ol>
                            <li><a href="javascript:;" [routerLink]="['/home']">Home</a></li>
                            <li>Refund and Cancellation Policy</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->
</main>
<!-- End #main -->

<!-- ======= Portfolio Details Section ======= -->
<section id="portfolio-details" class="portfolio-details">
    <div class="container">
        <div class="row gy-4">
            <p>
                <b>Welcome to this web-site of PutholiTrust.</b>
                We would like to make it public on our policy on refund and
                cancellation of donations received for the social cause on payment gateway as under:-
            </p>

           <p> No refund/cancellation for the donated/registration amount paid by any donor/member will not be entertained,
            for the payments made through online payment gateway.
            No cash or refund of money will be allowed.
            If any in-kind support received by the donor/member from any where the material will be reached to the
            poorest of the poorer communities.</p>

           <p>Once received the donation for a cause will not be refunded to the donor. No cancellation to be made. The
            donation will be used for the infrastructure needs of the government school.</p>
        </div>
    </div>
</section>

<!-- ======= Footer ======= -->
<footer id="footer" class="section-bg">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>Putholi</strong>. All Rights Reserved
        </div>
        <div class="credits">
            Designed by <a href="http://newrta.com/">NEWRTA</a>
        </div>
    </div>
</footer>
<!-- End  Footer -->