<!-- Page header -->
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-lg-inline">
        <div class="page-title d-flex">

            <h4> <i class="icon-arrow-left52 mr-2"></i> <span
                    class="font-weight-semibold">{{'COMMON.Home'|translate}}</span> -
                {{'CODEMAINTENANCE.ViewCodeMaintenance'|translate}}</h4>

            <a href="javascript:;" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>

         
    </div>

    <div class="breadcrumb-line breadcrumb-line-light header-elements-lg-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="javascript:;" [routerLink]="['/main/dashboard']" class="breadcrumb-item"><i
                        class="icon-home2 mr-2"></i>
                    {{"COMMON.Home"|translate}}</a>
                <a href="javascript:;" [routerLink]="['/main/code-maintenance/codes-list']" class="breadcrumb-item">
                    {{'CODEMAINTENANCE.CodeMaintenance'|translate}}</a>

                <span class="breadcrumb-item active">{{'CODEMAINTENANCE.ViewCodeMaintenance'|translate}}</span>
            </div>

            <a href="javascript:;" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>

        
    </div>


</div>
<!-- /page header -->


<!-- Content area -->
<div class="content">

    <div class="card">
        <!-- Card Header -->
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h6 class="fs-17 font-weight-600 mb-0">{{'CODEMAINTENANCE.ViewCodeMaintenance'|translate}}</h6>
                </div>

            </div>
        </div>
        <!-- /Card Header -->
        <br>

        <!-- Card Body -->
        <div class="card-body" style="margin-left:170px">

            <!-- row -->
            <div class="form-group row">
                <!-- Code -->
                <label
                    class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'CODEMAINTENANCE.Code'|translate}}<span
                        class=""> :</span></label>
                <div class="col-md-3">
                    <p>{{codeMaintenanceData?.code}}</p>
                </div>
            </div>
            <!-- /row -->

            <!-- row -->
            <div class="form-group row">
                <!-- Description -->
                <label
                    class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'CODEMAINTENANCE.Description'|translate}}<span
                        class=""> :</span></label>
                <div class="col-md-3">
                    <p>{{codeMaintenanceData?.description}}</p>
                </div>
            </div>
            <!-- /row -->

            <!-- row -->
            <div class="form-group row">
                <!-- Description others-->
                <label
                    class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'CODEMAINTENANCE.DescriptionOther'|translate}}<span
                        class=""> :</span></label>
                <div class="col-md-3">
                    <p>{{codeMaintenanceData?.descriptionOther}}</p>
                </div>
            </div>
            <!--/ row -->

            <!-- row -->
            <div class="form-group row">
                <!-- Status -->
                <label class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{"COMMON.Status"|translate}}<span
                        class=""> :</span></label>
                <div class="col-md-3">
                    <p>{{codeMaintenanceData?.active}}</p>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /Card Body -->

        <!-- Card Footer -->
        <div class="card-footer">
            <a href="javascript:;" [routerLink]="['/main/code-maintenance/codes-list']"><button type="button"
                    class="btn btn-danger">{{'COMMON.Cancel'|translate}}</button></a>
        </div>
        <!-- /Card Footer -->


    </div>

</div>
<!-- /content area -->