<!-- Page header -->
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-lg-inline">
        <div class="page-title d-flex">

            <h4> <i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Home</span> -
                Email Settings View
            </h4>

            <a href="javascript:;" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>

        </div>

         
    </div>

    <div class="breadcrumb-line breadcrumb-line-light header-elements-lg-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="javascript:;" [routerLink]="['/main/dashboard']" class="breadcrumb-item"><i
                        class="icon-home2 mr-2"></i>
                    Home</a>
                <a href="javascript:;" [routerLink]="['/main/email-settings/email-list']" class="breadcrumb-item">Email
                    Settings</a>
                <span class="breadcrumb-item active">Email Settings View</span>
            </div>

            <a href="javascript:;" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>

        
    </div>
</div>
<!-- /page header -->

<!-- Content area -->
<div class="content">

    <div class="card">
        <!-- Card Header -->
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h6 class="fs-17 font-weight-600 mb-0">Email Settings View</h6>
                </div>
            </div>
        </div>
        <!-- /Card Header -->
        <br>

        <!-- Card Body -->
        <div class="card-body">
            <!-- Form -->
            <form action="#" class="form-horizontal">

                <!-- row -->
                <div class="form-group row">
                    <!-- Host  -->
                    <label class="col-lg-2 col-sm-12 col-form-label font-weight-600">Host
                        :</label>
                    <div class="col-md-3">
                        <p>User</p>

                    </div>
                    <!-- Username  -->
                    <label class="col-lg-2 col-sm-12 col-form-label font-weight-600">Username
                        :</label>
                    <div class="col-md-3">
                        <p>ram mohan</p>
                    </div>
                </div>
                <!-- /row -->

                <!-- row -->
                <div class="form-group row">
                    <!-- Email  -->
                    <label class="col-lg-2 col-sm-12 col-form-label font-weight-600">Email
                        :</label>
                    <div class="col-md-3">
                        <p>rammohan@gmail.com</p>
                    </div>
                    <!-- From Email  -->
                    <label class="col-lg-2 col-sm-12 col-form-label font-weight-600">From Email
                        :</label>
                    <div class="col-md-3">
                        <p>ravi@gmail.com</p>
                    </div>
                </div>
                <!-- /row -->

                <!-- row -->
                <div class="form-group row">
                    <!-- Port  -->
                    <label class="col-lg-2 col-sm-12 col-form-label font-weight-600">Port
                        :</label>
                    <div class="col-md-3">
                        <p>4200</p>
                    </div>
                    <!-- Protocol  -->
                    <label class="col-lg-2 col-sm-12 col-form-label font-weight-600">Protocol
                        :</label>
                    <div class="col-md-3">
                        <p>Ssl</p>
                    </div>
                </div>
                <!-- /row -->

                <!-- row -->
                <div class="form-group row">
                    <!-- Status  -->
                    <label class="col-lg-2 col-sm-12 col-form-label font-weight-600">Status
                        :</label>
                    <div class="col-md-3">
                        <p>Active</p>
                    </div>
                </div>
                <!-- /row -->
            </form>
            <!-- /Form -->
        </div>
        <!--/Card Body -->

        <!-- Card Footer -->
        <div class="card-footer">
            <button [routerLink]="['/main/email-settings/email-list']" class="btn btn-danger"
                type="button">Cancel</button>
        </div>
        <!-- /Card Footer -->

    </div>



</div>