#myDiv {
    display: none;
}
.reset{
    background: #1bb1dc;
    border: 0;
    border-radius: 3px;
    padding: 8px 30px;
    color: #fff;
    transition: 0.3s;
}
#doc:hover{
    text-decoration: underline;
}