<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center header-transparent-subpage">
    <div class="container d-flex align-items-center">
        <a href="javascript:;" class="logo me-auto"><img src="assets/img/logo-small.png" id="myDiv"
                class="img-fluid"></a>
        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto" href="javascript:;" [routerLink]="['/home']">Home</a></li>
                <li class="dropdown"><a href="#about" class="nav-link scrollto"><span>About</span> <i
                            class="bi bi-chevron-down"></i></a>
                    <ul>
                         <li><a href="#about" class="nav-link scrollto">About us</a></li>
                        <li><a href="#footer" class="nav-link scrollto">Contact us</a></li>
                        <li><a href="#documents" class="nav-link scrollto">Putholi Policy Documents</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#features" class="nav-link scrollto"><span>Features</span> <i
                            class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="#features" class="nav-link scrollto">Philosophy</a></li>
                        <li><a href="#vision" class="nav-link scrollto">Vision / Mission</a></li>
                        <li><a href="#faq" class="nav-link scrollto">FAQ</a></li>
                        <!-- <li><a href="#vision" class="nav-link scrollto">Mission</a></li> -->
                        <!-- <li><a href="javascript:;" class="nav-link scrollto">Working Model</a></li> -->
                    </ul>
                </li>
                <li class="dropdown"><a href="#portfolio" class="nav-link scrollto"><span>Gallery</span> <i
                            class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="#portfolio" class="nav-link scrollto">Pictures</a></li>
                        <!-- <li><a href="#" class="nav-link scrollto">Videos</a></li>
              <li><a href="#" class="nav-link scrollto">Stories</a></li> -->
                    </ul>
                </li>
                <!-- <li class="dropdown"><a href="#faq" class="nav-link scrollto"><span>Blogs</span> <i
                            class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="#team" class="nav-link scrollto">Teams</a></li>
                        <li><a href="#testimonials" class="nav-link scrollto">Testimonials</a></li>
                        <li><a href="#faq" class="nav-link scrollto">FAQ</a></li>
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="#footer">Contact</a></li> -->
                <li><a class="nav-link scrollto" href="javascript:;" [routerLink]="['/portal/trackingdonation']">Track
                        Money</a></li>
                <li><a class="nav-link active scrollto" href="javascript:;"
                        [routerLink]="['/portal/school-list']">Donate</a>
                </li>
                <li><a class="nav-link scrollto" [href]="env.adminUrl">Login/Register</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->



    </div>
</header>
<!-- End Header -->

<!-- Start #main -->
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="titleparent">
                    <div class="titleleft margin-right-auto">
                        <h2>List of schools</h2>
                    </div>
                    <div class="titleright">
                        <ol>
                            <li><a href="javascript:;" [routerLink]="['/home']">Home</a></li>
                            <li>List of Schools</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container">

            <header class="section-header">
                <h3 class="section-title">List of schools requires fund</h3>
            </header>

            <div class="row">
                <div class="col-lg-12">
                    <ul id="portfolio-flters">
                        <!-- <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-district">District</li>
                        <li data-filter=".filter-school">School Name</li> -->

                        <form #filterForm="ngForm" (ngSubmit)="applyFilter()">
                            <div class="row">
                                <div class="col-md-3">
                                    <!-- Label for SchoolName-->
                                    <input class='form-control text' autocomplete="off" type="text"
                                        name="genericSearchData" [(ngModel)]="filterObj.genericSearchData"
                                        placeholder="SchoolName" id="genericSearchData" #genericSearchData="ngModel" />
                                </div>

                                <!-- district -->
                                <div class="col-md-3">
                                    <ng-select [items]="DistrictList" class="chosen-select"
                                        placeholder="select district" [clearable]='true'
                                        [searchable]='false' [(ngModel)]="filterObj.district" bindLabel="description"
                                        bindValue="code" [dropdownPosition]="'auto'" name="district" #district="ngModel"
                                        required>
                                    </ng-select>
                                </div>

                                <div class="col-md-3">
                                    <!-- Label for Locality-->
                                    <input class='form-control text' autocomplete="off" type="text" name="locality"
                                        [(ngModel)]="filterObj.locality" placeholder="Locality" id="locality"
                                        #locality="ngModel" />
                                </div>

                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-primary pull-right form-button">
                                        Apply Filter
                                    </button>
                                </div>
                                <div class="col-md-1">
                                    <button type="button" *ngIf="isFilterApplied"
                                        class="btn btn-danger pull-right form-button" (click)="resetFilter()"
                                        style="background-color: #DC3545 !important;">
                                        Reset
                                    </button> &nbsp;
                                </div>
                            </div>
                        </form>
                    </ul>
                </div>
            </div>


            <div class="row odd">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app odd gradeX" *ngFor="let data of schoolImages">
                    <div class="portfolio-wrap">
                        <img src="{{data?.fileData}}" class="img-fluid" alt=""
                            style="height: 300px; width: 100% !important; ">
                    </div>
                    <div>
                        <h6>School Name : <strong>{{data?.schoolName}}</strong></h6>
                        <h6>Address : <strong>{{data?.locality}}, {{data?.district?.description}}
                                (Dist).</strong></h6>
                    </div>
                    <div class="row">
                        <p>
                            <button type="button" class="form-button" href="javascript:;"
                                [routerLink]="['/portal/folioDetail/',data?.schoolInfoId]">Donate</button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="odd" *ngIf="(!schoolImages?.length)">
                <div style="text-align: center;" colspan="10" class="dataTables_empty"><b>
                        No Records </b>
                </div>
            </div>
            <hr />
            <div class="row" *ngIf='totalItem>0'>
                <div class="col-md-4 col-sm-12">
                    <div class="btn-group">
                        <ng-select (change)="rangeChanged(pagesize)" [items]="rangeList" bindLabel="name" bindValue="id"
                            placeholder="Select" [(ngModel)]="pagesize" [ngModelOptions]="{standalone: true}"
                            [clearable]='false' [searchable]='false' [dropdownPosition]="'top'">
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="dataTables_info" id="sample_editable_1_info">Showing
                        {{(number*size) + 1}} to
                        {{(number*size) + noofelements}} of {{totalElements}}
                        entries
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="dataTables_paginate paging_bootstrap">
                        <pagination class="page" [boundaryLinks]="showBoundaryLinks" [rotate]="'true'"
                            [itemsPerPage]='pagesize' name="currentPage" ngDefaultControl [totalItems]="totalItem"
                            [maxSize]="5" [(ngModel)]="currentPage" [ngModelOptions]="{standalone: true}"
                            (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;"
                            firstText="&laquo;" lastText="&raquo;">
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Portfolio Section -->
</main>
<!-- End #main -->


<!-- ======= Footer ======= -->
<footer id="footer" class="section-bg">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>Putholi</strong>. All Rights Reserved
        </div>
        <div class="credits">
            Designed by <a href="http://newrta.com/">NEWRTA</a>
        </div>
    </div>
</footer>
<!-- End  Footer -->