<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center header-transparent-subpage">
    <div class="container d-flex align-items-center">
        <a href="javascript:;" class="logo me-auto"><img src="assets/img/logo-small.png" id="myDiv"
                class="img-fluid"></a>
        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto" href="javascript:;" [routerLink]="['/home']">Home</a></li>
                <li class="dropdown"><a href="#about" class="nav-link scrollto"><span>About</span> <i
                            class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="#about" class="nav-link scrollto">About us</a></li>
                        <li><a href="#footer" class="nav-link scrollto">Contact us</a></li>
                        <li><a href="#documents" class="nav-link scrollto">Putholi Policy Documents</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#features" class="nav-link scrollto"><span>Features</span> <i
                            class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="#features" class="nav-link scrollto">Philosophy</a></li>
                        <li><a href="#vision" class="nav-link scrollto">Vision / Mission</a></li>
                        <li><a href="#faq" class="nav-link scrollto">FAQ</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#portfolio" class="nav-link scrollto"><span>Gallery</span> <i
                            class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="#portfolio" class="nav-link scrollto">Pictures</a></li>
                    </ul>
                </li>

                <li><a class="nav-link scrollto" href="javascript:;" [routerLink]="['/portal/trackingdonation']">Track
                        Money</a></li>
                <li><a class="nav-link active scrollto" href="javascript:;"
                        [routerLink]="['/portal/school-list']">Donate</a>
                </li>
                <li><a class="nav-link scrollto" [href]="env.adminUrl">Login/Register</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header>
<!-- End Header -->

<!-- Start #main -->
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="titleparent">
                    <div class="titleleft margin-right-auto">
                        <h2>Terms and Conditions</h2>
                    </div>
                    <div class="titleright">
                        <ol>
                            <li><a href="javascript:;" [routerLink]="['/home']">Home</a></li>
                            <li>Terms and Conditions</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->
</main>
<!-- End #main -->

<!-- ======= Portfolio Details Section ======= -->
<section id="portfolio-details" class="portfolio-details">
    <div class="container">
        <div class="row gy-4">
            <p> By selecting the tick in the checkbox, I agree that I have read and accept the
                Putholi Terms and Conditions. Privacy Policy and Terms and Conditions of
                Membership or Registration as Beneficiary, and I consent to the processing of my data for the purpose of
                using this service.</p>
            <p><b>NOTE:</b> YOU WILL NOT BE ABLE TO CONTINUE IF YOU Don't Select the
                Checkbox. </p>

            <p><b>TERMS AND CONDITIONS OF MEMBERSHIP</b></p>
           
            <p>As created in April 2023</p>

            <p>Beneficiaries/Members are expected to comply with all applicable laws and regulations:</p>

           <p>1) Once School & Requirement are approved, I hereby agree to follow up and get response from
            Government officials/CEO/BDO to fulfill this requirement through the trust. I'm aware that, if
            trust could not collect funds from public within certain period of time, this requirement may not
            be fulfilled either partially or fully and also there is no moral obligation to do so. All Beneficiaries
            could donate money for schools listed in the website and no restrictions in using the website
            available for public. Compliance with Policies. Member agrees to abide by, and shall have all
            applicable rights and obligations as set forth in, the Privacy Policy(Putholi P&Ps), Payment
            Policies, Trust Registration_Terms and Conditions and any and all additional policies and
            procedures adopted by Putholi, as any of these may be amended from time to time. Suspension
            and Termination. The Putholi Board may terminate membership/registration upon malpractices /
            bankruptcy or withdrawal from or cessation of business/service by Member.
             Putholi shall also have the right to (i) suspend participation of Member if it fails to pay its annual fees on time, or
            (ii) suspend or cancel participation ofMember if it violates any of the Putholi P&Ps or engages in
            conduct seriously prejudicial to the purposes and interests of Putholi and fails to correct that
            breach within thirty (30) days of notice from Putholi or the Putholi staff. No refunds of
            Membership fees or other payments will be given. Suspension and termination are subject to
            Putholi policies and to the sole discretion of trust authorities or members.</p>

            <p>2) GENERAL Authority to Execute Agreement. The person entering into this Agreement on behalf of Member
            hereby represents, warrants and covenants to Putholi that (a) it has the authority to enter into
            this Agreement and to perform its obligations hereunder; (b) the execution and performance of
            this Agreement does not and will not violate any agreement to which Member is a party or by
            which it is otherwise bound; and (c) when executed and delivered, this Agreement will
            constitute a legal, valid and binding obligation of Member, enforceable in accordance with its

            terms. No Other Licenses. By executing this Agreement, Member neither grants nor receives,by
            implication, estoppel, or otherwise, any rights under any copyright, patents or other intellectual
            property rights of Putholi or another member, except as expressly provided in the Putholi P&Ps
            (e.g., Putholi's right to disclose and publicize the Member's membership in Putholi, unless
            requested otherwise in writing by the Member). No Warranty. EACH PARTY ACKNOWLEDGES
            THAT, EXCEPT AS OTHERWISE AGREED IN WRITING, ALL SERVICES AND INFORMATION PROVIDED
            TO OR BY Putholi UNDER THIS AGREEMENT IS PROVIDED "AS IS" WITH NO WARRANTIES OR
            CONDITIONS WHATSOEVER, WHETHER EXPRESS,IMPLIED, STATUTORY OR OTHERWISE, AND
            Putholi AND MEMBER EACH EXPRESSLY DISCLAIM ANY WARRANTY OF MERCHANTABILITY,
            NONINFRINGEMENT, OR FITNESS FOR ANY PARTICULAR PURPOSE WITH RESPECT TO SUCH
            SERVICES AND INFORMATION.</p>

           <p>3) Limitation of Liability. IN NO EVENT WILL EITHER Putholi OR MEMBER BE LIABLE TO EACH OTHER
            OR TO ANY OTHER MEMBER OR THIRD PARTY UNDER THIS AGREEMENT FOR THE COST OF
            PROCURING SUBSTITUTE GOODS OR SERVICES, LOST PROFITS, LOST REVENUE, LOST SALES, LOSS
            OF USE, LOSS OF DATA OR ANY INCIDENTAL, CONSEQUENTIAL, DIRECT, INDIRECT,PUNITIVE, OR
            SPECIAL DAMAGES, WHETHER OR NOT SUCH PARTY HAD ADVANCE NOTICE OF THE POSSIBILITY
            OF SUCH LOSSES OR DAMAGES. EXCEPT FOR MEMBER'S DUES COMMITMENT, OR IN CASES OF
            WILLFUL MISCONDUCT OR GROSS NEGLIGENCE, OR WHERE REQUIRED BY APPLICABLE LAW, OR
            AS OTHERWISE AGREED IN WRITING, THE AGGREGATE LIABILITY OF Putholi TO MEMBER AND TO
            OTHER PARTIES, AND OF MEMBER TO Putholi, TO OTHER Putholi MEMBERS OR TO OTHER
            PARTIES, SHALL NOT EXCEED THE PAST 12 MONTHS' MEMBERSHIP FEES PAID BY THE MEMBER
            TO Putholi. Governing Law. This Agreement shall be construed and controlled by the laws of the
            Commonwealth of Massachusetts without reference to conflict of laws principles. If any claim or
            dispute between the parties is not resolved by good faith negotiations, any suits or proceedings
            pursued by either party shall be brought in the Federal or state courts located in Massachusetts,
            to whose jurisdiction each party hereby submits. Complete Agreement; No Waiver. This
            Agreement, including all attachments, sets forth the entire understanding of Putholi and
            Member and supersedes all prior agreements and understandings relating hereto, unless
            otherwise stated in this agreement. The waiver of any breach or default will not constitute a
            waiver of any other right hereunder or any subsequent breach or default.</p>

            <p>4)Amendment. All amendments to this Agreement or to any Putholi P&Ps shall be effective upon
            their stated effective date. Member shall be given at least thirty (30) days prior written notice of
            the effective date of an amendment to this agreement, including as a result of any changes to
            the Putholi P&Ps, which is adopted in accordance with the Policies and that directly and
            materially affects adversely any of the rights or obligations applicable to Member hereunder
            (each of the foregoing, an "Amendment"). If Member does not agree to any such Amendment to
            this Agreement that was approved in accordance with the Policies, then Member shall provide

            written notice to Putholi of such disagreement prior to the end of the 30-day notice period. If
            the parties are not able to reach a mutually acceptable accommodation (for example, the parties
            agree to a phase-in of the Amendment, Putholi determines to withdraw, suspend or modify the
            Amendment, or Putholi grants member a waiver or variance), this Agreement and Member's
            membership in Putholi shall terminate automatically upon expiration of the 30-day notice
            period, unless Member elects to withdraw by written notice on an earlier date. Amendments
            shall be prospective only unless otherwise agreed to by the Member and Putholi. No
            termination or withdrawal pursuant to this paragraph will entitle Member to a refund of
            Membership dues or other fees, all of which are nonrefundable.</p>

            <p>5) Headings. Putholi and Member acknowledge that the headings to the sections hereof are for
            reference purposes only and shall not be used in the interpretation of this agreement.</p>

            <p>6) Assignment. Member may not assign its rights or obligations under this Agreement 2without the
            prior written consent of Putholi or as otherwise set forth in the Policies. For purposes of this
            Agreement, an assignment shall be deemed to include a transfer or sale of all or substantially all
            of the business of Member, or a merger, consolidation or other transaction that results in a
            change in control of member.</p>

            <p>7)  Neither Putholi nor Member shall be liable here under by reason of any failure or delay in the
            performance of its obligations hereunder on account of strikes, shortages, riots, insurrection,
            fires, flood, storm, explosions, acts of God, war,governmental action, labor conditions,
            earthquakes or any other cause which is beyond the reasonable control of such party.</p>

            <p>8) Logos and Names. You grant Putholi the right to use your organization's name and logo on the
            Putholi website and on related marketing materials, solely to indicate your membership in
            Putholi. As long as you remain a member in good standing, you may use Putholi's name and
            logo, in the format and with the notices provided or requested by Putholi, solely to indicate your
            membership in Putholi.</p>

            <p>9) This official website of the Putholi Trust has been developed to disseminate information to the
            general public. Though all efforts have been made to ensure the accuracy and correctness of the
            content on this website, the same should not be construed as a statement of law or used for any
            legal purposes. The web contents are subject to change without any prior notice from the
            Putholi Trust website.</p>
        </div>
    </div>
</section>


<!-- ======= Footer ======= -->
<footer id="footer" class="section-bg">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>Putholi</strong>. All Rights Reserved
        </div>
        <div class="credits">
            Designed by <a href="http://newrta.com/">NEWRTA</a>
        </div>
    </div>
</footer>
<!-- End  Footer -->