<!-- Page header -->
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-lg-inline">
        <div class="page-title d-flex">

            <h4> <i class="icon-arrow-left52 mr-2"></i> <span
                    class="font-weight-semibold">{{'COMMON.Home'|translate}}</span> -
                {{'PASSWORD.Change Password'|translate}}</h4>

            <a href="javascript:;" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>

        </div>


    </div>

    <div class="breadcrumb-line breadcrumb-line-light header-elements-lg-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="javascript:;" [routerLink]="['/main/dashboard']" class="breadcrumb-item"><i
                        class="icon-home2 mr-2"></i>
                    {{"COMMON.Home"|translate}}</a>

                <span class="breadcrumb-item active">{{'PASSWORD.Change Password'|translate}}</span>

            </div>

            <a href="javascript:;" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>


    </div>
</div>
<!-- /page header -->





<!-- Content area -->
<div class="content">

    <div class="card">
        <!-- Card Header -->
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h6 class="fs-17 font-weight-600 mb-0">{{'PASSWORD.Change Password'|translate}}
                    </h6>


                </div>
            </div>
        </div>
        <!-- /Card Header -->
        <br>

        <!-- Form -->
        <form class="form-horizontal" (ngSubmit)="onPass(changePasswordform,changePasswordData)"
            #changePasswordform="ngForm">
            <!-- Card Body -->
            <div class="card-body">
                <!-- Form Body -->
                <div class="form-body">

                    <p style="color: mediumseagreen; font-size: 14px;">
                        {{'PASSWORD.Your password'|translate}}<b>8-20</b>{{'PASSWORD.characters'|translate}}<b>(!, @, $,
                            *) </b> ,{{'PASSWORD.and must not contain'|translate}}
                    </p>

                    <!-- row -->
                    <div class="form-group row text-right">
                        <!-- Old Password -->

                        <label class="col-lg-3 col-sm-12 col-form-label font-weight-600">
                            {{'PASSWORD.Old Password'|translate}}
                            <span class="required">*</span></label>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <input [type]="show?'text':'password'" id="secretKey" #secretKey="ngModel"
                                placeholder="{{'PASSWORD.PLACEHOLDER.currentPassword'|translate}}"
                                [(ngModel)]="changePasswordData.secretKey" [required]="true" name="secretKey"
                                class="form-control"
                                [ngClass]="{ 'isInvalid': (secretKey.touched) && secretKey.invalid }"
                                appBlockCopyPaste />

                            <span style="position:absolute; right:31px; top:9px; cursor: pointer;"
                                (click)="onClick('secret')">
                                <i class="fa fa-eye" style="color: black" *ngIf="!show"></i>
                                <i class="fa fa-eye-slash" style="color: black" aria-hidden="true" *ngIf="show"></i>
                            </span>
                            <!-- Error message -->
                            <span class="error-block" *ngIf="(secretKey.touched && secretKey.invalid)">
                                {{'PASSWORD.ERRORMESSAGE.Required'|translate}}
                            </span>
                        </div>
                    </div>
                    <!-- /row -->

                    <!-- row -->
                    <div class="form-group row text-right">
                        <!-- New password -->
                        <label class="col-lg-3 col-sm-12 col-form-label font-weight-600">
                            {{'PASSWORD.New Password'|translate}}
                            <span class="required">*</span></label>

                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <input [type]="display?'text':'password'" id="newsecretkey" #newsecretkey="ngModel"
                                placeholder="{{'PASSWORD.PLACEHOLDER.newPassword'|translate}}"
                                [(ngModel)]="changePasswordData.newsecretkey" [required]="true" name="newsecretkey"
                                class="form-control"
                                [ngClass]="{ 'isInvalid': (newsecretkey.touched) && newsecretkey.invalid }"
                                appBlockCopyPaste />

                            <span style="position:absolute; right:31px; top:9px; cursor: pointer;"
                                (click)="onClick('new')">
                                <i class="fa fa-eye" style="color: black" *ngIf="!display"></i>
                                <i class="fa fa-eye-slash" style="color: black" aria-hidden="true" *ngIf="display"></i>
                            </span>
                            <!-- Error message -->
                            <div class="error-block"
                                *ngIf="((newsecretkey.touched) && newsecretkey.valid && (changePasswordData.newsecretkey==changePasswordData.secretKey))">
                                {{'PASSWORD.ERRORMESSAGE.newPassword'| translate}}
                            </div>
                            <!-- Password strength -->
                            <div *ngIf="changePasswordData.newsecretkey">
                                <app-password-strength [passwordToCheck]="changePasswordData.newsecretkey"
                                    (notifyParent)="getData($event)">
                                </app-password-strength>
                            </div>
                        </div>


                    </div>
                    <!-- /row -->


                    <!-- row -->
                    <div class="form-group row text-right">
                        <!-- Confirm password -->
                        <label class="col-lg-3 col-sm-12 col-form-label font-weight-600">
                            {{'PASSWORD.Confirm New Password'|translate}}
                            <span class="required">*</span></label>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <input [type]="cnfrm?'text':'password'" id="confirmPassword" #confirmPassword="ngModel"
                                placeholder="{{'PASSWORD.PLACEHOLDER.confirmPassword'|translate}}"
                                [(ngModel)]="changePasswordData.confirmPassword" [required]="true"
                                name="confirmPassword" class="form-control"
                                [ngClass]="{ 'isInvalid': (confirmPassword.touched) && confirmPassword.invalid }"
                                appBlockCopyPaste />

                            <span style="position:absolute; right:31px; top:9px; cursor: pointer;"
                                (click)="onClick('cnfrm')">
                                <i class="fa fa-eye" style="color: black" *ngIf="!cnfrm"></i>
                                <i class="fa fa-eye-slash" style="color: black" aria-hidden="true" *ngIf="cnfrm"></i>
                            </span>
                            <!-- Error message -->
                            <div class="error-block"
                                *ngIf="((confirmPassword.touched) && confirmPassword.valid && (changePasswordData.confirmPassword != changePasswordData.newsecretkey))">
                                {{'PASSWORD.ERRORMESSAGE.confirmPassword'| translate}}
                            </div>
                        </div>

                    </div>
                    <!-- /Form Body -->

                </div>
                <!-- /Card Body -->
            </div>
            <!-- Card Footer -->
            <div class="card-footer">
                <button class="btn btn-primary" [disabled]="changePasswordform.invalid"
                    type="submit">{{'COMMON.Submit'|translate}}</button>&nbsp;&nbsp;

                <button href="javascript:;" [routerLink]="['/main/dashboard']" class="btn btn-danger"
                    type="button">{{'COMMON.Cancel'|translate}}</button>
            </div>
            <!-- /Card Footer -->

        </form>
        <!-- /Form -->

    </div>



</div>