<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center header-transparent-subpage">
    <div class="container d-flex align-items-center">
        <a href="javascript:;" class="logo me-auto"><img src="assets/img/logo-small.png" id="myDiv"
                class="img-fluid"></a>
        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto" href="javascript:;" [routerLink]="['/home']">Home</a></li>
                <li class="dropdown"><a href="#about" class="nav-link scrollto"><span>About</span> <i
                            class="bi bi-chevron-down"></i></a>
                    <ul>
                         <li><a href="#about" class="nav-link scrollto">About us</a></li>
                        <li><a href="#footer" class="nav-link scrollto">Contact us</a></li>
                        <li><a href="#documents" class="nav-link scrollto">Putholi Policy Documents</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#features" class="nav-link scrollto"><span>Features</span> <i
                            class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="#features" class="nav-link scrollto">Philosophy</a></li>
                        <li><a href="#vision" class="nav-link scrollto">Vision / Mission</a></li>
                        <li><a href="#faq" class="nav-link scrollto">FAQ</a></li>
                        <!-- <li><a href="#vision" class="nav-link scrollto">Mission</a></li> -->
                        <!-- <li><a href="javascript:;" class="nav-link scrollto">Working Model</a></li> -->
                    </ul>
                </li>
                <li class="dropdown"><a href="#portfolio" class="nav-link scrollto"><span>Gallery</span> <i
                            class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="#portfolio" class="nav-link scrollto">Pictures</a></li>
                        <!-- <li><a href="#" class="nav-link scrollto">Videos</a></li>
                     <li><a href="#" class="nav-link scrollto">Stories</a></li> -->
                    </ul>
                </li>
                <!-- <li class="dropdown"><a href="#faq" class="nav-link scrollto"><span>Blogs</span> <i
                            class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="#team" class="nav-link scrollto">Teams</a></li>
                        <li><a href="#testimonials" class="nav-link scrollto">Testimonials</a></li>
                        <li><a href="#faq" class="nav-link scrollto">FAQ</a></li>
                    </ul>
                </li> -->
                <!-- <li><a class="nav-link scrollto" href="#footer">Contact</a></li> -->
                <li><a class="nav-link scrollto" href="javascript:;" [routerLink]="['/portal/trackingdonation']">Track
                        Money</a></li>
                <li><a class="nav-link active scrollto" href="javascript:;"
                        [routerLink]="['/portal/school-list']">Donate</a>
                </li>
                <li><a class="nav-link scrollto" [href]="env.adminUrl">Login/Register</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->



    </div>
</header>
<!-- End Header -->

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="titleparent">
                    <div class="titleleft margin-right-auto">
                        <h2>Forget Password</h2>
                    </div>
                    <div class="titleright">
                        <ol>
                            <li><a href="javascript:;" [routerLink]="['/home']">Home</a></li>
                            <li>Forget Password</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-12" style="margin-bottom:40px;">
                    <div class="portfolio-info">
                        <div class="row">
                            <div class="text-center">
                                <!-- Donor forget password Form -->
                                <form class="form-horizontal" (ngSubmit)="onForget(forgetform,forgetData)"
                                    #forgetform="ngForm">

                                    <div class="row col-md-11">
                                        <h5 class="mb-0" style="font-weight: bold;">
                                            Forget
                                            Password </h5>
                                        <span class="d-block text-muted">
                                            Enter your e-mail address below to reset your password.</span>
                                    </div>
                                    <br />

                                    <!-- row -->
                                    <div class="row text-center">
                                        <!-- row -->
                                        <div class="row mb-3">
                                            <!-- Label for forget Email -->
                                            <div class="col-sm-3"></div>
                                            <div class="col-sm-4">
                                                <app-nspl-text [data]="forgetData.emailid" placeholder="Email"
                                                    [(ngModel)]="forgetData.emailid" [required]="true" name="emailid"
                                                    [controlInput]="'Email'" (email)="getEmail($event)">
                                                </app-nspl-text>
                                            </div>
                                        </div>
                                        <!-- /row -->

                                        <!-- row -->
                                        <div class="row mb-3">
                                            <div class="col-sm-3"></div>
                                            <div class="col-sm-3" style="margin-bottom: 0px">
                                                <!-- captcha -->
                                                <app-captcha (captcha)="getCaptcha($event)"></app-captcha>
                                            </div>
                                        </div>
                                        <!-- /row -->

                                        <!-- row -->
                                        <div class="row mb-3">
                                            <div class="col-sm-3"></div>
                                            <div class="col-sm-2">
                                                <button type="submit"
                                                    [disabled]="forgetform.invalid || !isValidCaptcha || !isValidEmail"
                                                    class="form-button" style="width:100px;">Submit</button>
                                            </div>
                                            <div class="col-sm-3">
                                                <button type="button" class="form-button" href="javascript:;"
                                                    (click)="clickCancel()" style="width:100px;">Cancel</button>
                                            </div>
                                        </div>
                                        <!-- /row -->
                                    </div>
                                    <!-- /row -->
                                </form>
                                <!-- /Donor forget password Form -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Portfolio Details Section -->
</main>
<!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="section-bg">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>Putholi</strong>. All Rights Reserved
        </div>
        <div class="credits">
            Designed by <a href="http://newrta.com/">NEWRTA</a>
        </div>
    </div>
</footer>
<!-- End  Footer -->