<!-- Page header -->
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-lg-inline">
        <div class="page-title d-flex">

            <h4> <i class="icon-arrow-left52 mr-2"></i> <span
                    class="font-weight-semibold">{{'COMMON.Home'|translate}}</span> -
                {{'FUNDALLOTMENT.FundAllotment'|translate}}</h4>

            <a href="javascript:;" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>

        </div>

         
    </div>

    <div class="breadcrumb-line breadcrumb-line-light header-elements-lg-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="javascript:;" [routerLink]="['/main/dashboard']" class="breadcrumb-item"><i
                        class="icon-home2 mr-2"></i>
                    {{'COMMON.Home'|translate}}</a>
                <span class="breadcrumb-item active">{{'FUNDALLOTMENT.FundAllotment'|translate}}</span>
            </div>

            <a href="javascript:;" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>

        
    </div>
</div>
<!-- /page header -->




<!-- Content area -->
<div class="content">


    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h5 class="card-title">{{'FUNDALLOTMENT.FundAllotment'|translate}}</h5>
                </div>

            </div>
        </div>
        <div class="card-body">
            <br />
            <form class="form-horizontal" #filterForm="ngForm" (ngSubmit)='applyFilter()'>
                <div class="row form-group">
                    <div class="col-md-3">
                        <label class="control-label">{{'MANAGESCHOOL.SchoolName'|translate}}</label>
                        <div class="input-icon">
                            <i class="fa fa-home"></i>
                            <input class='form-control text' autocomplete="off" type="text" name="schoolName"
                                [(ngModel)]="filterObj.schoolName" placeholder="{{'MANAGESCHOOL.SchoolName'|translate}}"
                                id="schoolName" #schoolName="ngModel" />
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label class="control-label">{{'MANAGESCHOOL.SchoolType'|translate}}</label>
                        <div class="input-icon">
                            <i class="fa fa-map-marker"></i>
                            <ng-select [items]="schoolTypeList" class="chosen-select"
                                placeholder="{{'MANAGESCHOOL.SchoolType'|translate}}" [clearable]='true'
                                [searchable]='false' [(ngModel)]="filterObj.schoolType" bindLabel="description"
                                bindValue="description" [dropdownPosition]="'auto'" name="schoolType"
                                #schoolType="ngModel" required>
                            </ng-select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label class="control-label">{{'MANAGESCHOOL.Locality'|translate}}</label>
                        <div class="input-icon">
                            <i class="fa fa-map-marker"></i>
                            <input class='form-control text' autocomplete="off" type="text" name="locality"
                                [(ngModel)]="filterObj.locality" placeholder="{{'MANAGESCHOOL.Locality'|translate}}"
                                id="locality" #locality="ngModel" />
                        </div>
                    </div>

                    <div class="col-md-3" style="margin-top: 25px;">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn btn-primary pull-right">
                                {{'COMMON.ApplyFilter'|translate}}
                            </button> &nbsp;
                        </div>
                    </div>
                    <div class="col-md-3" style="margin-top: 25px;" *ngIf="isFilterApplied">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="button" class="btn btn-danger pull-right" (click)="resetFilter()">
                                {{'COMMON.ResetFilter'|translate}}
                            </button> &nbsp;
                        </div>
                    </div>
                </div>
            </form>

            <div class="table-responsive" *ngIf="this.getToken('role')!='TRUSTV'">
                <br />
                <table class="table datatable-basic table-bordered">
                    <thead>
                        <tr>
                            <th>{{'MANAGESCHOOL.RegistrationNumber'|translate}}
                                <app-nspl-table-sort [sortCol]="schoolList" [sortTypeName]="'schoolRegNo'"
                                    [defaultSort]="'asc'">
                                </app-nspl-table-sort>
                            </th>
                            <th>{{'REQUIREMENT.ConsolidateReference'|translate}}</th>
                            <th>{{'MANAGESCHOOL.SchoolName' | translate}}
                                <app-nspl-table-sort [sortCol]="schoolList" [sortTypeName]="'schoolName'"
                                    [defaultSort]="'asc'">
                                </app-nspl-table-sort>
                            </th>
                            <th>{{'MANAGESCHOOL.SchoolType' | translate}}
                                <app-nspl-table-sort [sortCol]="schoolList" [sortTypeName]="'schoolType'"
                                    [defaultSort]="'asc'">
                                </app-nspl-table-sort>
                            <th>{{'MANAGEUSER.ContactNumber' | translate}}
                                <app-nspl-table-sort [sortCol]="schoolList" [sortTypeName]="'primaryContact'"
                                    [defaultSort]="'asc'">
                                </app-nspl-table-sort>
                            </th>
                            <th>{{'MANAGESCHOOL.Locality'|translate}}</th>
                            <th>{{'COMMON.Status' | translate}}
                                <app-nspl-table-sort [sortCol]="schoolList" [sortTypeName]="'schoolStatus'"
                                    [defaultSort]="'asc'">
                                </app-nspl-table-sort>
                            </th>
                            <th class="text-center">{{'COMMON.Action'|translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX" *ngFor="let data of schoolList">
                            <td>{{data?.schoolRegNo}}</td>
                            <td>{{data?.consolidateId}}</td>
                            <td>{{data?.schoolName}}</td>
                            <td>{{data?.schoolType}}</td>
                            <td>{{data?.primaryContact}}</td>
                            <td>{{data?.locality}}</td>
                            <td> <span class="badge badge-success">{{data?.schoolStatus}}</span></td>

                            <td class="text-center">
                                <a href="javascript:;" class="list-icons-item tdata" tooltip="Fund Allotment"
                                    *ngIf="data?.schoolStatus=='Ready For Allotment'"
                                    [routerLink]="['/main/fund-allotment/fund-allotment-details/', data?.schoolInfoId]">
                                    <i class="fas fa-file-upload"></i></a>

                                <a href="javascript:;" class="list-icons-item tdata" tooltip="Generate Work Order"
                                    *ngIf="data?.schoolStatus=='Generate Work Order'"
                                    [routerLink]="['/main/fund-work-order/',data?.schoolInfoId, data?.consolidateId]">
                                    <i class="fas fa-file-upload"></i></a>

                            </td>

                        </tr>
                        <tr class="odd" *ngIf="(!schoolList?.length) && (!loading)">
                            <td style="text-align: center" colspan="10" class="dataTables_empty"><b>
                                    {{'RECORDS.NoRecords'|translate}}</b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>



</div>
<!-- /content area -->

<ngx-ui-loader hasProgressBar=false fgsType="three-strings"></ngx-ui-loader>