<!-- Page content -->
<div class="page-content login-cover">

    <!-- Main content -->
    <div class="content-wrapper">

        <!-- Inner content -->
        <div class="content-inner">

            <!-- Content area -->
            <div class="content-login d-flex justify-content-center align-items-center">

                <!-- Login form -->
                <div class="card mb-0">
                    <div class="card-body">

                        <!-- login form -->
                        <div class="content">
                            <!-- Form -->
                            <form class="login-form modal-body" (ngSubmit)="submitForm(updatePswdForm,updatePassword)"
                                #updatePswdForm="ngForm">
                                <div class="text-center mb-3">
                                    <img src="assets/images/logo.png" style="margin-top: -31px;">
                                    <br /><br />
                                    <h5 class="mb-0"> {{'PASSWORD.Update Password'|translate}}</h5>
                                    <span class="d-block text-muted">Your credentials</span>
                                </div>


                                <p style="color: mediumseagreen; font-size: 17px;"> {{'PASSWORD.Your
                                    password'|translate}}<b>8-20</b>{{'PASSWORD.characters'|translate}}<b>(!, @, $,
                                        *) </b> ,{{'PASSWORD.and must not contain'|translate}}
                                </p>
                                <p> Enter your personal details below</p>

                                <!-- row -->
                                <div class="form-group form-group-feedback form-group-feedback-left">
                                    <!-- username -->
                                    <input [type]="show?'text':'password'" id="secretKey" #secretKey="ngModel"
                                        placeholder="Old Password" [(ngModel)]="updatePassword.secretKey"
                                        [required]="true" name="secretKey" class="form-control"
                                        [ngClass]="{ 'isInvalid': (secretKey.touched) && secretKey.invalid }" appBlockCopyPaste />

                                    <span style="position:absolute; right:31px; top:9px; cursor: pointer;"
                                        (click)="onClick('secret')">
                                        <i class="fa fa-eye" style="color: black" *ngIf="!show"></i>
                                        <i class="fa fa-eye-slash" style="color: black" aria-hidden="true"
                                            *ngIf="show"></i>
                                    </span>

                                    <div class="form-control-feedback">
                                        <i class="icon-user text-muted"></i>
                                    </div>
                                </div>
                                <!-- /row -->

                                <!-- row -->
                                <div class="form-group form-group-feedback form-group-feedback-left">
                                    <!-- password -->
                                    <input [type]="display?'text':'password'" id="newsecretkey" #newsecretkey="ngModel"
                                        placeholder="New Password" [(ngModel)]="updatePassword.newsecretkey"
                                        [required]="true" name="newsecretkey" class="form-control"
                                        [ngClass]="{ 'isInvalid': (newsecretkey.touched) && newsecretkey.invalid }" appBlockCopyPaste/>

                                    <span style="position:absolute; right:31px; top:9px; cursor: pointer;"
                                        (click)="onClick('new')">
                                        <i class="fa fa-eye" style="color: black" *ngIf="!display"></i>
                                        <i class="fa fa-eye-slash" style="color: black" aria-hidden="true"
                                            *ngIf="display"></i>
                                    </span>

                                    <div class="error-block"
                                        *ngIf="((newsecretkey.touched) && newsecretkey.valid && (updatePassword.newsecretkey==updatePassword.secretKey))">
                                        {{'PASSWORD.ERRORMESSAGE.newPassword'| translate}}
                                    </div>

                                    <div class="form-control-feedback">
                                        <i class="icon-lock2 text-muted"></i>
                                    </div>
                                </div>
                                <!-- /row -->
                                <div *ngIf="updatePassword.newsecretkey">
                                    <app-password-strength [passwordToCheck]="updatePassword.newsecretkey"
                                        (notifyParent)="getData($event)">
                                    </app-password-strength>
                                </div>

                                <!-- row -->
                                <div class="form-group form-group-feedback form-group-feedback-left">
                                    <!-- password -->
                                    <input [type]="cnfrm?'text':'password'" id="confirmNewsecretkey"
                                        #confirmNewsecretkey="ngModel" placeholder="Confirm Password"
                                        [(ngModel)]="updatePassword.confirmNewsecretkey" [required]="true"
                                        name="confirmNewsecretkey" class="form-control"
                                        [ngClass]="{ 'isInvalid': (confirmNewsecretkey.touched) && confirmNewsecretkey.invalid }" appBlockCopyPaste/>

                                    <span style="position:absolute; right:31px; top:9px; cursor: pointer;"
                                        (click)="onClick('cnfrm')">
                                        <i class="fa fa-eye" style="color: black" *ngIf="!cnfrm"></i>
                                        <i class="fa fa-eye-slash" style="color: black" aria-hidden="true"
                                            *ngIf="cnfrm"></i>
                                    </span>

                                    <div class="form-control-feedback">
                                        <i class="icon-lock2 text-muted"></i>
                                    </div>

                                    <div class="error-block"
                                        *ngIf="((confirmNewsecretkey.touched) && confirmNewsecretkey.valid && (updatePassword.confirmNewsecretkey != updatePassword.newsecretkey))">
                                        {{'PASSWORD.ERRORMESSAGE.confirmPassword'| translate}}
                                    </div>
                                </div>
                                <!-- sign in button-->
                                <div class="form-group">
                                    <button type="submit" [disabled]="updatePswdForm.invalid"
                                        class="btn btn-primary">Submit</button>
                                    &nbsp;&nbsp;
                                    <button type="button" [routerLink]="['/login']"
                                        class="btn btn-danger">Cancel</button>
                                </div>
                                <!-- /sign in button -->



                            </form>
                            <!-- /Form -->
                        </div>



                    </div>
                </div>


            </div>
            <!-- /content area -->

        </div>
        <!-- /inner content -->

    </div>
    <!-- /main content -->

</div>