.content-login {
    padding: 1.5rem 1.5rem;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.content-inner {
    height: calc(100vh - 24px - 0px - -24px);
    max-height: fit-content;
}

@media (min-width: 576px) {
    .login-form {
        width: 29rem;
    }
}