<!-- Page header -->
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-lg-inline">
        <div class="page-title d-flex">

            <h4> <i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">{{'COMMON.Home' |
                    translate}}</span> -
                {{'SCHOOLINFO.ManageAssignedSchools' | translate }}</h4>

            <a href="javascript:;" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>

        </div>

         
    </div>

    <div class="breadcrumb-line breadcrumb-line-light header-elements-lg-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="javascript:;" class="breadcrumb-item" [routerLink]="['/main/dashboard']"><i
                        class="icon-home2 mr-2"></i>
                    {{'COMMON.Home' | translate}}</a>
                <span class="breadcrumb-item active">{{'SCHOOLINFO.ManageAssignedSchools' | translate }}</span>
            </div>

            <a href="javascript:;" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>
    </div>
</div>
<!-- /page header -->

<!-- Content area -->
<div class="content">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h5 class="card-title"> {{'SCHOOLINFO.ManageAssignedSchools' | translate }}</h5>
                </div>

            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <br />
                <table class="table datatable-basic table-bordered">
                    <thead>
                        <tr>
                            <th>{{'MANAGESCHOOL.RegistrationNumber'|translate}}
                                <app-nspl-table-sort [sortCol]="schoolInfoList" [sortTypeName]="'schoolRegNo'"
                                    [defaultSort]="'asc'">
                                </app-nspl-table-sort>
                            </th>
                            <th>{{'REQUIREMENT.ConsolidateReference'|translate}}</th>
                            <th>{{'MANAGESCHOOL.SchoolName' | translate}}
                                <app-nspl-table-sort [sortCol]="schoolInfoList" [sortTypeName]="'schoolName'"
                                    [defaultSort]="'asc'">
                                </app-nspl-table-sort>
                            </th>
                            <th>{{'MANAGESCHOOL.SchoolType' | translate}}
                                <app-nspl-table-sort [sortCol]="schoolInfoList" [sortTypeName]="'schoolType'"
                                    [defaultSort]="'asc'">
                                </app-nspl-table-sort>
                            <th>{{'MANAGEUSER.ContactNumber' | translate}}
                                <app-nspl-table-sort [sortCol]="schoolInfoList" [sortTypeName]="'primaryContact'"
                                    [defaultSort]="'asc'">
                                </app-nspl-table-sort>
                            </th>
                            <th>{{'MANAGESCHOOL.Locality'|translate}}</th>

                            <th>{{'COMMON.Status' | translate}}
                                <app-nspl-table-sort [sortCol]="schoolInfoList" [sortTypeName]="'schoolStatus'"
                                    [defaultSort]="'asc'">
                                </app-nspl-table-sort>
                            </th>
                            <th class="text-center">{{'COMMON.Action'|translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX" *ngFor="let data of schoolInfoList">
                            <td>{{data?.schoolRegNo}}</td>
                            <td>{{data?.consolidateId}}</td>
                            <td>{{data?.schoolName}}</td>
                            <td>{{data?.schoolType}}</td>
                            <td>{{data?.primaryContact}}</td>
                            <td>{{data?.locality}}</td>
                            <td>
                                <span class="badge badge-success">{{data?.status}}</span>
                            <td class="text-center">
                                <a href="javascript:;"
                                    [routerLink]="['/main/assign-school/assign-school-view/', data?.schoolInfoId, data?.consolidateId]"
                                    class="list-icons-item" tooltip="Action" *ngIf="data?.status=='Assigned Volunteer'"><i
                                        class="far fa-edit"></i></a>
                            </td>
                        </tr>
                        <tr class="odd" *ngIf="(!schoolInfoList?.length) && (!loading)">
                            <td style="text-align: center" colspan="10" class="dataTables_empty"><b>
                                    {{'RECORDS.NoRecords'|translate}}</b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br />
            <div class="row" *ngIf='totalItem>0'>
                <div class="col-md-4 col-sm-12">
                    <div class="btn-group">
                        <ng-select (change)="rangeChanged(pagesize)" [items]="rangeList" bindLabel="name" bindValue="id"
                            placeholder="Select" [(ngModel)]="pagesize" [ngModelOptions]="{standalone: true}"
                            [clearable]='false' [searchable]='false' [dropdownPosition]="'top'">
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="dataTables_info" id="sample_editable_1_info">{{'PAGINATION.Showing'|translate}}
                        {{(number*size) + 1}} {{'PAGINATION.to'|translate}}
                        {{(number*size) + noofelements}} {{'PAGINATION.of'|translate}} {{totalElements}}
                        {{'PAGINATION.entries'|translate}}
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="dataTables_paginate paging_bootstrap">
                        <pagination class="page" [boundaryLinks]="showBoundaryLinks" [rotate]="'true'"
                            [itemsPerPage]='pagesize' name="currentPage" ngDefaultControl [totalItems]="totalItem"
                            [maxSize]="5" [(ngModel)]="currentPage" [ngModelOptions]="{standalone: true}"
                            (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;"
                            firstText="&laquo;" lastText="&raquo;">
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /content area -->
<ngx-ui-loader hasProgressBar=false fgsType="three-strings"></ngx-ui-loader>