<div class="page-content login-cover">

    <!-- Main content -->
    <div class="content-wrapper">

        <!-- Inner content -->
        <div class="content-inner">

            <!-- Content area -->
            <div class="content-login d-flex justify-content-center align-items-center">

                <div class="card mb-0">
                    <div class="card-body">
                        <h3><a href="javascript:;"><img style="width:65px" src="assets/images/warning.png" alt="" /></a>
                        </h3>
                        <table class="table_style" style="margin-top: -10px;">
                            <tbody>
                                <tr>
                                    <td class="table_td_blank_style"></td>
                                </tr>
                                <tr>
                                    <td class="table_td_app_style">
                                        <b class="text_color">
                                            <h3><strong style="color: #f4f4f4;
                                                background: #cc3532;">APPLICATION SECURITY ERROR !!!</strong></h3>
                                        </b>
                                        <br>
                                        <b class="text_color1 guilty">
                                            This error has occured for one of the following reasons:
                                            <br><br>
                                        </b>
                                        <ul class="sessionTime_simpletext unknownUX5J">
                                            
                                            <li class="guilty">The access to the application is interrupted.<br>
                                            </li>
                                            <li class="guilty">You have kept the browser window idle for a long
                                                time.<br>
                                            </li>
                                            <li class="guilty">You are accessing the application URL from a saved or
                                                static page.<br>
                                            </li>
                                           
                                        </ul>
                                    </td>
                                    <td class="table_td_style">
                                        <div class="unknownAppErrorIcon"><span class="icon-warning2"></span></div>
                                    </td>

                                </tr>
                                <tr>
                                    <td class="table_td_blank_style"></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- END LOGO -->





                    </div>






                </div>

            </div>
            <!-- /content area -->

        </div>
        <!-- /inner content -->

    </div>
    <!-- /main content -->

</div>