  .captcha-actions a {
    padding: 9px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    color: #222;
  }

  .content-inner {
    height: calc(100vh - 24px - 0px - -24px);
    max-height: fit-content;
  }


  .content-login {
    padding: 1.25rem 1.25rem;
    -ms-flex-positive: 1;
    flex-grow: 1;

  }


  /* .btn.btn-social-icon {
    width: 50px;
    height: 50px;
    padding: 0;
  }

  .btn.btn-rounded {
    border-radius: 50px;
  }


  .btn-outline-facebook {
    border: 1px solid #3b579d;
    color: #3b579d;
  }

  .btn-outline-facebook:hover {
    background: #3b579d;
    color: #ffffff;
  }



  .btn-outline-twitter {
    border: 1px solid #2caae1;
    color: #2caae1;
  }


  .btn-outline-linkedin {
    border: 1px solid #0177b5;
    color: #0177b5;
  }



  .btn-outline-twitter:hover {
    background: #2caae1;
    color: #ffffff;
  }

  .btn-outline-linkedin:hover {
    background: #0177b5;
    color: #ffffff;
  } */


  /*Button cover*/

  /* .btn-facebook {
    background: #3b579d;
    color: #ffffff;
  }



  .btn-twitter {
    background: #2caae1;
    color: #ffffff;
  }

  .btn-linkedin {
    background: #0177b5;
    color: #ffffff;
  }


  .btn-facebook:hover, .btn-facebook:focus {
    background: #2d4278;
    color: #ffffff;
  }

  .btn-twitter:hover, .btn-twitter:focus {
    background: #1b8dbf;
    color: #ffffff;
  }

  .btn-linkedin:hover, .btn-linkedin:focus {
    background: #015682;
    color: #ffffff;
  } */



  /* Wrapper */
  .icon-button {
    background-color: #eee;
    border-radius: 3.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 2.0rem;
    height: 3.6rem;
    line-height: 3.6rem;
    margin: 0 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 3.6rem;
  }

  /* Circle */
  .icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
  }

  .icon-button:hover span {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 3.6rem;
    margin: -1.8rem;
  }

  .twitter span {
    background-color: #4099ff;
  }

  .facebook span {
    background-color: #3B5998;
  }

  .google-plus span {
    background-color: #db5a3c;
  }

  .linkedin2 span {
    background-color: #0177b5;
  }

  /* Icons */
  .icon-button i {
    background: none;
    color: white;
    height: 3.6rem;
    left: 0;
    line-height: 3.6rem;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 3.6rem;
    z-index: 10;
  }

  .icon-button .icon-twitter {
    color: #4099ff;
  }

  .icon-button .icon-facebook {
    color: #3B5998;
  }

  .icon-button .icon-google-plus {
    color: #db5a3c;
  }

  .icon-button .icon-linkedin2 {
    color: #0177b5;
  }

  .icon-button:hover .icon-twitter,
  .icon-button:hover .icon-facebook,
  .icon-button:hover .icon-google-plus,
  .icon-button:hover .icon-linkedin2 {
    color: white;
  }