<!-- Page header -->
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-lg-inline">
        <div class="page-title d-flex">

            <h4> <i class="icon-arrow-left52 mr-2"></i> <span
                    class="font-weight-semibold">{{'COMMON.Home'|translate}}</span> -
                {{'UPLOAD.ReviewQuotation'|translate}}</h4>

            <a href="javascript:;" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>

        </div>


    </div>

    <div class="breadcrumb-line breadcrumb-line-light header-elements-lg-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="javascript:;" [routerLink]="['/main/dashboard']" class="breadcrumb-item"><i
                        class="icon-home2 mr-2"></i>
                    {{'COMMON.Home'|translate}}</a>

                <a href="javascript:;" [routerLink]="['/main/review-quotate/review-quotate-list']"
                    class="breadcrumb-item">
                    {{'UPLOAD.ReviewQuotation'|translate}}</a>
                <span class="breadcrumb-item active">{{'UPLOAD.ReviewQuotationDetails'|translate}}</span>
            </div>

            <a href="javascript:;" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>


    </div>
</div>
<!-- /page header -->





<div class="content">


    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h5 class="card-title">{{'UPLOAD.ReviewQuotationDetails'|translate}}</h5>
                </div>

            </div>
        </div>
        <div class="card-body">
            <tabset #staticTabs>
                <!-- Tab_1_1 -->
                <tab heading="{{'MANAGESCHOOL.SchoolInformation'|translate}}">
                    <div class="card-body">
                        <!-- School Information  -->

                        <h5>{{'MANAGESCHOOL.SchoolInformation' | translate}}</h5>
                        <hr />

                        <!-- row -->
                        <div class="form-group row">

                            <!-- label for registration number -->
                            <label
                                class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'MANAGESCHOOL.RegistrationNumber'
                                | translate}} :</label>
                            <div class="form-inline col-md-3">
                                <p>{{schoolInfo?.schoolRegNo}}</p>
                            </div>

                            <!-- label for school name -->
                            <label class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'MANAGESCHOOL.SchoolName'
                                | translate}} :</label>
                            <div class="form-inline col-md-3">
                                <p>{{schoolInfo?.schoolName}}</p>
                            </div>
                        </div>
                        <!-- /row -->


                        <!-- row -->
                        <div class="form-group row">

                            <!-- label for school type -->
                            <label class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'MANAGESCHOOL.SchoolType'
                                | translate}} :</label>
                            <div class="form-inline col-md-3">
                                <p>{{schoolInfo?.schoolType}}</p>
                            </div>

                            <!-- label for no.of students -->
                            <label
                                class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'MANAGESCHOOL.NumberofStudents'
                                | translate}} :</label>
                            <div class="form-inline col-md-3">
                                <p>{{schoolInfo?.noOfStudents}}</p>
                            </div>
                        </div>
                        <!-- /row -->

                        <!-- row -->
                        <div class="form-group row">
                            <!-- label for no.of teachers -->
                            <label
                                class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'MANAGESCHOOL.NumberofTeachers'
                                | translate}} :</label>
                            <div class="form-inline col-md-3">
                                <p>{{schoolInfo?.noOfTeachers}}</p>
                            </div>

                            <!-- label for no.of teachers -->
                            <label
                                class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'MANAGESCHOOL.EducationalDistrict'
                                | translate}} :</label>
                            <div class="form-inline col-md-3">
                                <p>{{schoolInfo?.educationalDistrict}}</p>
                            </div>
                        </div>
                        <!-- /row -->
                        <!-- /School Information  -->

                        <!-- Contact Information -->

                        <h5>{{'MANAGESCHOOL.ContactInformation' | translate}}</h5>
                        <hr />
                        <!-- row -->
                        <div class="form-group row">

                            <!-- label for primary contact name -->
                            <label
                                class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'MANAGESCHOOL.PrimaryContactName'
                                | translate}} :</label>
                            <div class="form-inline col-md-3">
                                <p>{{schoolInfo?.contactsInfo?.primaryName}}</p>
                            </div>

                            <!-- label for secondary contact name -->
                            <label
                                class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'MANAGESCHOOL.SecondaryContactName'
                                | translate}} :</label>
                            <div class="form-inline col-md-3">
                                <p>{{schoolInfo?.contactsInfo?.secondaryName}}</p>
                            </div>

                        </div>
                        <!-- /row -->

                        <!-- row -->
                        <div class="form-group row">

                            <!-- label for primary contact number -->
                            <label
                                class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'MANAGESCHOOL.PrimaryMobileNumber'
                                | translate}} :</label>
                            <div class="form-inline col-md-3">
                                <p>{{schoolInfo?.contactsInfo?.primaryNumber}}</p>
                            </div>

                            <!-- label for secondary contact number -->
                            <label
                                class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'MANAGESCHOOL.SecondaryMobileNumber'
                                | translate}} :</label>
                            <div class="form-inline col-md-3">
                                <p>{{schoolInfo?.contactsInfo?.secondaryNumber}}</p>
                            </div>

                        </div>
                        <!-- /row -->


                        <!-- row -->
                        <div class="form-group row">
                            <!-- label for primary contact email -->
                            <label
                                class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'MANAGESCHOOL.PrimaryContactEmail'
                                | translate}}<span class="">:</span></label>
                            <div class="form-inline col-md-3">
                                <p>{{schoolInfo?.contactsInfo?.primaryEmail}}</p>
                            </div>

                            <!-- label for secondary contact email -->
                            <label
                                class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'MANAGESCHOOL.SecondaryContactEmail'
                                | translate}} :</label>
                            <div class="form-inline col-md-3">
                                <p>{{schoolInfo?.contactsInfo?.secondaryEmail}}</p>
                            </div>

                        </div>
                        <!-- /row -->
                        <!-- /contact information -->


                        <!-- Address Information -->

                        <h5>{{'MANAGESCHOOL.AddressInformation' | translate}}</h5>
                        <hr />
                        <!-- row -->
                        <div class="form-group row">

                            <!-- label for Address line 1 -->
                            <label
                                class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'MANAGESCHOOL.AddressLine1'
                                | translate}} :</label>
                            <div class="form-inline col-md-3">
                                <p>{{schoolInfo?.addressInfo?.addressLine1}}</p>
                            </div>

                            <!-- label for address line 2 -->
                            <label
                                class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'MANAGESCHOOL.AddressLine2'
                                | translate}} :</label>
                            <div class="form-inline col-md-3">
                                <p>{{schoolInfo?.addressInfo?.addressLine2}}</p>
                            </div>

                        </div>
                        <!-- /row -->


                        <!-- row -->
                        <div class="form-group row">

                            <!-- label for locality -->
                            <label class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'MANAGESCHOOL.Locality'
                                | translate}} :</label>
                            <div class="form-inline col-md-3">
                                <p>{{schoolInfo?.addressInfo?.locality}}</p>
                            </div>

                            <!-- label for city -->
                            <label class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'MANAGESCHOOL.City'
                                |
                                translate}} :</label>
                            <div class="form-inline col-md-3">
                                <p>{{schoolInfo?.addressInfo?.city}}</p>
                            </div>

                        </div>
                        <!-- /row -->


                        <!-- row -->
                        <div class="form-group row">

                            <!-- label for district -->
                            <label class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'MANAGESCHOOL.District'
                                | translate}} :</label>
                            <div class="form-inline col-md-3">
                                <p>{{schoolInfo?.addressInfo?.district}}</p>
                            </div>

                            <!-- label for state -->
                            <label class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'MANAGESCHOOL.State'
                                | translate}} :</label>
                            <div class="form-inline col-md-3">
                                <p *ngIf="schoolInfo?.addressInfo?.state=='TN'">Tamil Nadu</p>
                            </div>

                        </div>
                        <!-- /row -->


                        <!-- row -->
                        <div class="form-group row">

                            <!-- label for country -->
                            <label class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'MANAGESCHOOL.Country'
                                |
                                translate}} :</label>
                            <div class="form-inline col-md-3">
                                <p>India</p>
                            </div>

                            <!-- label for pincode -->
                            <label class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'MANAGESCHOOL.Pincode'
                                |
                                translate}} :</label>
                            <div class="form-inline col-md-3">
                                <p>{{schoolInfo?.addressInfo?.pincode}}</p>
                            </div>

                        </div>
                        <!-- /row -->


                        <!-- row -->


                        <div class="form-group row">

                            <h5>{{'MANAGESCHOOL.SchoolImages' | translate }}</h5>
                            <hr />
                            <!-- row -->
                            <div class="table-responsive">
                                <br />
                                <table class="table datatable-basic table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>{{'UPLOAD.ImageDescription'|translate}}</th>
                                            <th>{{"INVOICE.Attachments"|translate}}</th>
                                            <th>{{'COMMON.Action'|translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd gradeX" *ngFor="let data of imagesList; index as i">
                                            <td>{{i+1}}</td>
                                            <td>{{data.fileType}}</td>
                                            <td>{{data?.fileName}}</td>
                                            <td class="text-center">
                                                <a href="javascript:;" data-toggle="modal" class="list-icons-item"
                                                    (click)="onSchoolTemplate(template, data?.attachmentId)"><i
                                                        data-toggle="modal" data-toggle="tooltip" tooltip="View"
                                                        class="far fa-eye"></i></a>
                                            </td>
                                        </tr>

                                        <tr class="odd" *ngIf="(!imagesList?.length)">
                                            <td style="text-align: center" colspan="10" class="dataTables_empty"><b>
                                                    {{'RECORDS.NoRecords'|translate}}</b>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>


                        <div class="form-actions fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="float-right">
                                        <button type="button" class="btn btn-primary" (click)="onClickNext('SI')">
                                            {{'COMMON.Continue'|translate}}
                                        </button> &nbsp;

                                        <button type="button" class="btn btn-danger"
                                            [routerLink]="['/main/review-quotate']">
                                            {{'COMMON.Cancel'|translate}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
                <!-- /Tab_1_1 -->

                <!-- Tab_1_2 -->
                <tab heading="{{'REQUIREMENT.RequirementInformation'|translate}}">
                    <div class="card-body">
                        <!-- row -->
                        <div class="form-group row">
                            <!-- label for consolidate reference -->
                            <label
                                class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'REQUIREMENT.Noofrequirements'
                                | translate}} :</label>
                            <div class="form-inline col-md-3">
                                <p>{{schoolInfo?.consolidateRefInfo?.noOfRequirements}}</p>
                            </div>

                            <!-- label for submitted date -->
                            <label
                                class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'REQUIREMENT.SubmittedDate'
                                | translate}} :</label>
                            <div class="form-inline col-md-3">
                                <p>{{schoolInfo?.consolidateRefInfo?.createdDate|date:'dd/MM/yyyy'}}</p>
                            </div>
                        </div>
                        <!-- /row -->

                        <!-- row -->
                        <div class="form-group row">

                            <!-- label for requirementId -->
                            <label
                                class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'REQUIREMENT.RequirementId'
                                | translate}} :</label>
                            <div class="form-inline col-md-3">
                                <p>{{requirementInfoById?.requirementId}}</p>
                            </div>

                            <!-- label for RequirementType -->
                            <label
                                class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'REQUIREMENT.RequirementType'
                                | translate}} :</label>
                            <div class="form-inline col-md-3">
                                <p>{{requirementInfoById?.requirementType=='NE'?'New':'maintenance'}}</p>
                            </div>

                        </div>
                        <!-- /row -->

                        <!-- row -->
                        <div class="form-group row">

                            <!-- label for AssetType -->
                            <label class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'REQUIREMENT.AssetType'
                                | translate}} :</label>
                            <div class="form-inline col-md-3">
                                <p>{{requirementInfoById?.assetType}}</p>
                            </div>


                            <!-- label for AssetName -->
                            <label class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'REQUIREMENT.AssetName'
                                | translate}} :</label>
                            <div class="col-md-3">
                                <p>{{requirementInfoById?.assetName}}</p>
                            </div>
                        </div>
                        <!-- /row -->


                        <!-- row -->
                        <div class="form-group row">

                            <!-- label for Quantity -->
                            <label class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'REQUIREMENT.Quantity'
                                |
                                translate}} :</label>
                            <div class="form-inline col-md-3" style="margin-top: -30px;">
                                <p>{{requirementInfoById?.quantity}}</p>
                            </div>

                            <!-- label for View Images -->
                            <label class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'REQUIREMENT.ViewImages'
                                |
                                translate}} :</label>
                            <div class="col-md-3">
                                <button type="button" class="btn btn-info"
                                    (click)="clickReqImages(template, requirementInfoById?.requirementId)">
                                    {{'COMMON.ClickHeretoViewImages'|translate}}</button>
                            </div>

                        </div>
                        <!-- /row -->
                        <div class="form-actions fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="float-right">
                                        <button type="button" class="btn btn-primary" (click)="onClickNext('RI')">
                                            {{'COMMON.Continue'|translate}}
                                        </button>&nbsp;

                                        <button type="button" class="btn btn-danger" (click)="onClickPrevoius('RI')">
                                            {{'COMMON.Back'|translate}}
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </tab>
                <!-- /Tab_1_2 -->

                <!-- Tab_1_3 -->
                <tab heading="{{'QUOTATION.PreImages'|translate}}">
                    <div class="card-body">

                        <div class="table-responsive">
                            <br />
                            <table class="table datatable-basic table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>{{'UPLOAD.ImageDescription'|translate}}</th>
                                        <th>{{"INVOICE.Attachments"|translate}}</th>
                                        <th>{{'COMMON.Action'|translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX" *ngFor="let data of preImages; index as i">
                                        <td>{{i+1}}</td>
                                        <td>{{data.fileType}}</td>
                                        <td>{{data?.fileName}}</td>
                                        <td class="text-center">
                                            <a href="javascript:;" data-toggle="modal" class="list-icons-item"
                                                (click)="clickPreImages(template,'PI', data?.attachmentId)"><i
                                                    data-toggle="modal" data-toggle="tooltip" tooltip="View"
                                                    class="far fa-eye"></i></a>
                                        </td>
                                    </tr>

                                    <tr class="odd" *ngIf="(!preImages?.length)">
                                        <td style="text-align: center" colspan="10" class="dataTables_empty"><b>
                                                {{'RECORDS.NoRecords'|translate}}</b>
                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>


                        <div class="form-actions fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="float-right">
                                        <button type="button" class="btn btn-primary" (click)="onClickNext('PI')">
                                            {{'COMMON.Continue'|translate}}
                                        </button>&nbsp;

                                        <button type="button" class="btn btn-danger" (click)="onClickPrevoius('PI')">
                                            {{'COMMON.Back'|translate}}
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </tab>
                <!-- /Tab_1_3 -->

                <!-- Tab_1_4 -->
                <tab heading="{{'UPLOAD.ReviewUploadedQuotation'|translate}}">
                    <div class="card-body">
                        <form class="form-horizontal" (ngSubmit)="onSubmitForm(quotationForm,quotationData)"
                            #quotationForm="ngForm">

                            <button type="button" data-toggle="modal" class="btn btn-info"
                                *ngIf="this.getToken('role')!='ADMIN'" (click)="viewUnselectQuotation(unSelect)">
                                {{'QUOTATION.ClickHeretoViewUnselectedQuotation'|translate}}</button>
                            <div class="table-responsive">
                                <br />
                                <table class="table datatable-basic table-bordered">
                                    <thead>
                                        <tr>
                                            <th>{{'QUOTATION.SelectQuotation'|translate}}</th>
                                            <th>{{'QUOTATION.CompanyName'|translate}}</th>
                                            <th>{{'QUOTATION.City'|translate}}</th>
                                            <th>{{'MANAGESCHOOL.PhoneNumber'|translate}}</th>
                                            <th>{{'QUOTATION.QuotationPreparedBy'|translate}}</th>
                                            <th>{{'QUOTATION.QuotationDate'|translate}}</th>
                                            <th>{{'QUOTATION.QuotationValidDate'|translate}}</th>
                                            <th>{{'QUOTATION.ItemDescription'|translate}}</th>
                                            <th>{{'QUOTATION.Quantity'|translate}}</th>
                                            <th>{{'QUOTATION.UnitPrice'|translate}}</th>
                                            <th>{{'QUOTATION.Taxin%'|translate}}</th>
                                            <th>{{'QUOTATION.ShippingCost'|translate}}</th>
                                            <th>{{'QUOTATION.TotalAmount'|translate}}</th>
                                            <th>{{'QUOTATION.Warranty'|translate}}</th>
                                            <th>{{'COMMON.Status'|translate}}</th>
                                            <th>{{'COMMON.Action'|translate}}</th>

                                        </tr>

                                    </thead>
                                    <tbody>
                                        <tr class="odd gradeX" *ngFor="let data of quotationInfoList">
                                            <td *ngIf="this.getToken('role')=='ADMIN'">
                                                <input type="radio" name="quotate" required
                                                    (click)="selectQuotate(data?.quotationId, data?.totalAmount, $event)">
                                            </td>

                                            <td *ngIf="this.getToken('role')!='ADMIN'"><input type="radio" checked
                                                    disabled></td>
                                            <td>{{data?.companyName}}</td>
                                            <td>{{data?.city}}</td>
                                            <td>{{data?.phoneNumber}}</td>
                                            <td>{{data?.quotationPreparedBy}}</td>
                                            <td>{{data?.quotationDate|date:'dd/MM/yyyy'}}</td>
                                            <td>{{data?.quotationValidDate |date:'dd/MM/yyyy'}}</td>
                                            <td>{{data?.itemDescription}}</td>
                                            <td>{{data?.quantity}}</td>
                                            <td>{{data?.unitPrice}}</td>
                                            <td>{{data?.tax}}</td>
                                            <td>{{data?.shippingCost}}</td>
                                            <td>{{data?.totalAmount}}</td>
                                            <td>{{data?.warranty}}</td>
                                            <td *ngIf="data?.quotateStatus!='REJQUO'"> <span
                                                    class="badge badge-warning">
                                                    {{data?.description}} </span> </td>
                                            <td *ngIf="data?.quotateStatus=='REJQUO'"> <span class="badge badge-danger">
                                                    {{data?.description}}
                                                </span> </td>

                                            <td class="text-center">
                                                <a href="javascript:;" data-toggle="modal" class="list-icons-item"
                                                    (click)="clickPreImages(template,'QI', data?.quotationId)"><i
                                                        data-toggle="modal" data-toggle="tooltip" tooltip="View"
                                                        class="far fa-eye"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div>

                                <h5>{{'COMMON.ApprovalHistory' | translate }}</h5>
                                <hr />
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="tempTable">
                                        <thead>
                                            <tr>
                                                <th>{{'COMMON.ActionBy' | translate }}</th>
                                                <th>{{'COMMON.ActionDate&Time' | translate }}</th>
                                                <th>{{'MANAGEUSER.Role'|translate}}</th>
                                                <th>{{'COMMON.Status' | translate }}</th>
                                                <th>{{'COMMON.Remarks' | translate }}</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="this.getToken('role') == 'ADMIN'">
                                            <tr class="odd gradeX" *ngFor="let data of approvalHistory">
                                                <td>{{data?.actionBy}}</td>
                                                <td>{{data?.actionDate |date:'dd/MM/yyyy hh:mm:ss'}}</td>
                                                <td>{{data?.role}}</td>
                                                <td *ngIf="data?.status =='APR'"><span
                                                        class="badge badge-success">Approved</span>
                                                </td>
                                                <td *ngIf="data?.status =='REJ'"><span
                                                        class="badge badge-danger">Rejected</span>
                                                </td>
                                                <td>{{data?.remarks}}</td>

                                            </tr>
                                            <tr class="odd" *ngIf="(!approvalHistory?.length)">
                                                <td style="text-align: center" colspan="10" class="dataTables_empty"><b>
                                                        {{'RECORDS.NoRecords'|translate}}</b>
                                                </td>
                                            </tr>

                                        </tbody>
                                        <tbody *ngIf="this.getToken('role') != 'ADMIN'">
                                            <tr class="odd gradeX" *ngFor="let data of approvalHistDtlsDTOs">
                                                <td>{{data?.actionBy}}</td>
                                                <td>{{data?.actionDate |date:'dd/MM/yyyy hh:mm:ss'}}</td>
                                                <td>{{data?.role}}</td>
                                                <td *ngIf="data?.status =='APR'"><span
                                                        class="badge badge-success">Approved</span>
                                                </td>
                                                <td *ngIf="data?.status =='REJ'"><span
                                                        class="badge badge-danger">Rejected</span>
                                                </td>
                                                <td>{{data?.remarks}}</td>

                                            </tr>
                                            <tr class="odd" *ngIf="(!approvalHistDtlsDTOs?.length)">
                                                <td style="text-align: center" colspan="10" class="dataTables_empty"><b>
                                                        {{'RECORDS.NoRecords'|translate}}</b>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <h5>{{'MANAGESCHOOL.Approval' | translate }}</h5>
                                <hr />

                                <div class="form-group row">

                                    <label
                                        class="col-lg-2 col-sm-12 col-form-label font-weight-600">{{'QUOTATION.TotalAmount'|translate}}
                                        <span class="required"> *</span></label>
                                    <div class="col-lg-4 col-sm-12 col-form-label">
                                        <app-nspl-text [(ngModel)]="totalAmount" [disabled]="true" name="totalAmount">
                                        </app-nspl-text>

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label
                                        class="col-lg-2 col-sm-12 col-form-label font-weight-600">{{'COMMON.Status'|translate}}
                                        <span class="required"> *</span></label>
                                    <div class="form-inline col-md-3" style="margin-bottom: 9px;">
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadio1" [(ngModel)]="quotationData.status"
                                                value="APR" name="customRadio" #status="ngModel"
                                                class="custom-control-input" required>
                                            <label class="custom-control-label" for="customRadio1">{{'COMMON.Approve' |
                                                translate }}</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadio2" [(ngModel)]="quotationData.status"
                                                value="REJ" name="customRadio" #status="ngModel"
                                                class="custom-control-input" required>
                                            <label class="custom-control-label" for="customRadio2">{{'COMMON.Reject' |
                                                translate }}</label>
                                        </div>

                                    </div>

                                    <div class="error-block" *ngIf="(status.touched && status.invalid)">
                                        This field cannot be left blank
                                    </div>
                                </div>

                                <div class="form-group row">

                                    <label class="col-lg-2 col-sm-12 col-form-label font-weight-600">{{'COMMON.Remarks'
                                        | translate }}<span class="required"> *</span></label>
                                    <div class="col-lg-4 col-sm-12 col-form-label">
                                        <app-nspl-multiline-text [data]="quotationData.remarks"
                                            [(ngModel)]="quotationData.remarks" [required]="true"
                                            placeholder="{{'COMMON.EnterRemarks'|translate}}" name="remarks">
                                        </app-nspl-multiline-text>

                                    </div>
                                </div>

                                <br>
                                <!-- row -->
                                <div class="form-group row">
                                    <!-- Label for Terms and Conditions -->
                                    <label class="col-lg-2 col-sm-12 col-form-label font-weight-600">Terms and
                                        Conditions :</label>
                                    <div class="col-lg-7 col-sm-12 col-form-label">
                                        <p>I hereby agree & confirm that, I have taken enough effort to double check the
                                            presented
                                            details here
                                            and taking decisions without any favoritism to anyone involved for this
                                            activity.</p>
                                    </div>
                                </div>
                                <!-- /row -->
                            </div>
                            <!-- buttons -->

                            <div class="form-actions fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="float-right">
                                            <button type="submit" class="btn btn-primary"
                                                [disabled]="quotationForm.invalid || isClickedOnce">
                                                {{'COMMON.Submit'|translate}}
                                            </button>&nbsp;



                                            <button type="button" class="btn btn-danger"
                                                (click)="onClickPrevoius('QI')">
                                                {{'COMMON.Back'|translate}}
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </tab>
                <!-- /Tab_1_4 -->


            </tabset>
        </div>
    </div>



</div>

<!-- /content area -->


<!-- view Images -->
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title" *ngIf="isSchool">{{'MANAGESCHOOL.ViewSchoolImages'|translate}}</h4>
        <h4 class="modal-title" *ngIf="isReq">{{'REQUIREMENT.ViewRequirementImages'|translate}}</h4>
        <h4 class="modal-title" *ngIf="isPreImg">{{'QUOTATION.ViewPreImages'|translate}}</h4>
        <h4 class="modal-title" *ngIf="isQuot">{{'QUOTATION.ViewQuotationImages'|translate}}</h4>
        <h4 class="modal-title" *ngIf="isUnselect">{{'QUOTATION.ViewUnselectedImages'|translate}}</h4>

        <button type="button" class="close pull-right" aria-label="Close" (click)="quotateModelRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- form -->
    <form class="form-horizontal">
        <div class="modal-body">

            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" *ngIf="base64Image">
                        <img class="d-block w-100" [src]="transform()" alt="First slide" style="height: 500px;">
                    </div>
                </div>

                <div class="carousel-inner" *ngIf="!base64Image">
                    <iframe [src]="transform()" width="100%" height="500px"></iframe>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal"
                (click)="quotateModelRef.hide()">{{'COMMON.Cancel' | translate}}</button>
        </div>
    </form>
    <!-- /form -->
</ng-template>

<!-- /view Images -->

<ng-template #unSelect>

    <div class="modal-header">
        <h4 class="modal-title">{{'QUOTATION.UnselectedQuotations'|translate}}</h4>

        <button type="button" class="close pull-right" aria-label="Close" (click)="unSelectedModalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <br />
            <table class="table datatable-basic table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{{"QUOTATION.VendorName"|translate}}</th>
                        <th>{{"QUOTATION.QuotedAmount"|translate}}</th>
                        <th>{{"INVOICE.Attachments"|translate}}</th>
                        <th>{{'COMMON.Action'|translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container>
                        <tr class="odd gradeX" *ngFor="let data of unselectQuotationList; index as i">
                            <td>{{i+1}}</td>
                            <td>{{data?.companyName}}</td>
                            <td>{{data?.totalAmount}}</td>
                            <td>{{data?.fileName}}</td>
                            <td class="text-center">
                                <a href="javascript:;" data-toggle="modal" class="list-icons-item"
                                    (click)="clickPreImages(template,'TI', data?.attachmentId)"><i data-toggle="modal"
                                        data-toggle="tooltip" tooltip="View" class="far fa-eye"></i></a>
                            </td>
                        </tr>
                    </ng-container>

                    <tr class="odd" *ngIf="(!preImages?.length)">
                        <td style="text-align: center" colspan="10" class="dataTables_empty"><b>
                                {{'RECORDS.NoRecords'|translate}}</b>
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>

    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal"
            (click)="unSelectedModalRef.hide()">{{'COMMON.Cancel' | translate}}</button>
    </div>

</ng-template>