<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center header-transparent-subpage">
    <div class="container d-flex align-items-center">
        <a href="javascript:;" class="logo me-auto"><img src="assets/img/logo-small.png" id="myDiv"
                class="img-fluid"></a>
        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto" href="javascript:;" [routerLink]="['/home']">Home</a></li>
                <li class="dropdown"><a href="#about" class="nav-link scrollto"><span>About</span> <i
                            class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="#about" class="nav-link scrollto">About us</a></li>
                        <li><a href="#footer" class="nav-link scrollto">Contact us</a></li>
                        <li><a href="#documents" class="nav-link scrollto">Putholi Policy Documents</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#features" class="nav-link scrollto"><span>Features</span> <i
                            class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="#features" class="nav-link scrollto">Philosophy</a></li>
                        <li><a href="#vision" class="nav-link scrollto">Vision / Mission</a></li>
                        <li><a href="#faq" class="nav-link scrollto">FAQ</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#portfolio" class="nav-link scrollto"><span>Gallery</span> <i
                            class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="#portfolio" class="nav-link scrollto">Pictures</a></li>
                    </ul>
                </li>

                <li><a class="nav-link scrollto" href="javascript:;" [routerLink]="['/portal/trackingdonation']">Track
                        Money</a></li>
                <li><a class="nav-link active scrollto" href="javascript:;"
                        [routerLink]="['/portal/school-list']">Donate</a>
                </li>
                <li><a class="nav-link scrollto" [href]="env.adminUrl">Login/Register</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header>
<!-- End Header -->

<!-- Start #main -->
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="titleparent">
                    <div class="titleleft margin-right-auto">
                        <h2>Registration Policy</h2>
                    </div>
                    <div class="titleright">
                        <ol>
                            <li><a href="javascript:;" [routerLink]="['/home']">Home</a></li>
                            <li>Registration Policy</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->
</main>
<!-- End #main -->

<!-- ======= Portfolio Details Section ======= -->
<section id="portfolio-details" class="portfolio-details">
    <div class="container">
        <div class="row gy-4">
            <div>
                <p>By selecting the tick in the checkbox, I agree that I have read and accept the
                Putholi Terms and Conditions. Privacy Policy and Terms and Conditions of
                Membership, and I consent to the processing of my data for the purpose of using
                this service.</p>
                <p><b>NOTE:</b> YOU WILL NOT BE ABLE TO CONTINUE IF YOU Don't Select the
                Checkbox.</p>

                <p>These are the Terms and Conditions which govern each use you make of the donation
                payment services provided through the Website.</p>

                <p>These Terms and Conditions apply separately to each single donation that you make.
                By confirming on the Website that you wish to make a donation you agree to be bound
                by these Terms and Conditions for that donation.</p>

                <p><b>(1) The donation services </b> We will use your donation at our discretion but within
                our stated charitable objectives.
                All payments through the Website are to be made by payment card/internet banking.
                Once you confirm to us through the Website that you wish to proceed with your
                donation your transaction will be processed through our payment services provider.
                By confirming that you wish to proceed with your donation you authorize Axis
                Bank/Payment gateway provider to request funds from your credit, debit or internet
                banking ccounts.</p>

                <p><b>2)Fees</b>
                There are card processing fees for each transaction, we dont charge you anything
                extra from your donation amount, however your donation amount wiil be minus the
                bank fee as applicable.</p>

                <p><b>3)If you wish to donate through this Service, You represent and warrant that:</b>
                     (i)you have the legal right to use any credit card(s) or other payment method(s) in
                connection with Donation; and that (ii) the information you supply to bank or
                payment gateway is true, correct and complete.</p>

                <p>4)By submitting such information, you grant us the right to provide the information
                through our website to the payment gateway platform for purposes of facilitating
                the completion of your Donation.</p>

                <p><b>5)We reserve the right to refuse or cancel your donation at any time for certain
                reasons including but not limited to:</b> service availability, errors in the
                description of the Donation, error in your order or other reasons.</p>

                <p>6)We reserve the right to refuse or cancel your donation if fraud or an
                unauthorized or illegal transaction is suspected.</p>

                <p>7)Availability, Errors and Inaccuracies
                We are constantly updating our status of services on the website. The services
                available on our Service may be described inaccurately, or unavailable, and we may
                experience delays in updating information on the Service and in our website.
                We cannot and do not guarantee the accuracy or completeness of any information,
                including addresses and services offered. We reserve the right to change or update
                information and to correct errors, inaccuracies, or omissions at any time without
                prior notice.</p>

                <p>8) Unauthorised card use
                If you become aware of fraudulent use of your card, or if it is lost or stolen, you
                must notify your card provider.</p>

                <p>9) Information from you
                Before we can process a donation you must provide us with (i) your name, phone
                number and email address and we dont store your card details and It is your
                responsibility to ensure you have provided with the correct information to process
                the transaction/donation as you wish.</p>

                <p>10)When you submit your payment details, these details will be transferred to the
                payment provider and your payment data will be collected and processed securely by
                them. You should make sure that you are aware of Axis Bank’s terms and conditions,
                which are different from our own, to ensure that you are comfortable with how they
                will process your personal data before you make a donation.</p>

                <p>11)We won’t share your personal details with any other third party other than is
                set out in our Privacy Policy. Our Privacy Policy forms part of these Donation
                Payment Terms and Conditions and by agreeing to these Terms and Conditions you are
                also agreeing to the way we use and protect your personal information in line with
                our Privacy Policy.</p>

                <p><b>12) Refund policy</b>
                If you make an error in your donation or change your mind later, we dont have any
                refund policy as donated amount will be fully used for the purpose mentioned.</p>
            </div>

        </div>
    </div>
</section>


<!-- ======= Footer ======= -->
<footer id="footer" class="section-bg">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>Putholi</strong>. All Rights Reserved
        </div>
        <div class="credits">
            Designed by <a href="http://newrta.com/">NEWRTA</a>
        </div>
    </div>
</footer>
<!-- End  Footer -->