<!-- Page header -->
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-lg-inline">
        <div class="page-title d-flex">

            <h4> <i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">{{'COMMON.Home' |
                    translate}}</span> -
                {{'SCHOOLINFO.VolunteerAcknowledgement' | translate }}</h4>

            <a href="javascript:;" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>

        </div>

    </div>

    <div class="breadcrumb-line breadcrumb-line-light header-elements-lg-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="javascript:;" [routerLink]="['/main/dashboard']" class="breadcrumb-item"><i
                        class="icon-home2 mr-2"></i>
                    {{'COMMON.Home' | translate}}</a>
                <a href="javascript:;" [routerLink]="['/main/assign-school']"
                    class="breadcrumb-item">{{'SCHOOLINFO.ManageAssignedSchools' | translate }}</a>
                <span class="breadcrumb-item active"> {{'SCHOOLINFO.VolunteerAcknowledgement' | translate }}</span>
            </div>

            <a href="javascript:;" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>

    </div>
</div>
<!-- /page header -->

<!-- Content area -->
<div class="content">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h6 class="fs-17 font-weight-600 mb-0"> {{'SCHOOLINFO.VolunteerAcknowledgement' | translate }}</h6>
                </div>
            </div>
        </div>
        <br>
        <!-- Form -->
        <form action="#" class="form-horizontal" (ngSubmit)="assignSchool(assignSchoolForm, assignSchoolData)"
            #assignSchoolForm="ngForm">

            <div class="card-body">

                <!-- School Information  -->
                <h5>{{'MANAGESCHOOL.SchoolInformation' | translate}}</h5>
                <hr />

                <!-- row -->
                <div class="form-group row">

                    <!-- label for registration number -->
                    <label class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'MANAGESCHOOL.RegistrationNumber'
                        | translate}} :</label>
                    <div class="col-md-3">
                        <p>{{schoolInfo?.schoolRegNo}}</p>
                    </div>

                    <!-- label for school name -->
                    <label class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'MANAGESCHOOL.SchoolName'
                        | translate}} :</label>
                    <div class="col-md-3">
                        <p>{{schoolInfo?.schoolName}}</p>
                    </div>
                </div>
                <!-- /row -->

                <!-- row -->
                <div class="form-group row">

                    <!-- label for school type -->
                    <label class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'MANAGESCHOOL.SchoolType'
                        | translate}} :</label>
                    <div class="col-md-3">
                        <p>{{schoolInfo?.schoolType}}</p>
                    </div>

                    <!-- label for no.of students -->
                    <label class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'MANAGESCHOOL.NumberofStudents'
                        | translate}} :</label>
                    <div class="col-md-3">
                        <p>{{schoolInfo?.noOfStudents}}</p>
                    </div>
                </div>
                <!-- /row -->

                <!-- row -->
                <div class="form-group row">
                    <!-- label for no.of teachers -->
                    <label class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'MANAGESCHOOL.NumberofTeachers'
                        | translate}} :</label>
                    <div class="col-md-3">
                        <p>{{schoolInfo?.noOfTeachers}}</p>
                    </div>

                    <!-- label for no.of teachers -->
                    <label
                        class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'MANAGESCHOOL.EducationalDistrict'
                        | translate}} :</label>
                    <div class="col-md-3">
                        <p>{{schoolInfo?.educationalDistrict}}</p>
                    </div>
                </div>
                <!-- /row -->
                <!-- row -->
                <div class="form-group row" *ngIf="schoolInfo?.volunteerName">
                    <!-- label for no.of Assigned Volunteer -->
                    <label
                        class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'ASSIGNVOLUNTEER.AssignedVolunteer'
                        | translate}} :</label>
                    <div class="col-md-3">
                        <p>{{schoolInfo?.volunteerName}}</p>
                    </div>
                </div>
                <!-- /row -->
                <!-- /School Information  -->

                <!-- Contact Information -->

                <h5>{{'MANAGESCHOOL.ContactInformation' | translate}}</h5>
                <hr />
                <!-- row -->
                <div class="form-group row">

                    <!-- label for primary contact name -->
                    <label class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'MANAGESCHOOL.PrimaryContactName'
                        | translate}} :</label>
                    <div class="col-md-3">
                        <p>{{schoolInfo?.contactsInfo?.primaryName}}</p>
                    </div>

                    <!-- label for secondary contact name -->
                    <label
                        class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'MANAGESCHOOL.SecondaryContactName'
                        | translate}} :</label>
                    <div class="col-md-3">
                        <p>{{schoolInfo?.contactsInfo?.secondaryName}}</p>
                    </div>

                </div>
                <!-- /row -->

                <!-- row -->
                <div class="form-group row">

                    <!-- label for primary contact number -->
                    <label
                        class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'MANAGESCHOOL.PrimaryMobileNumber'
                        | translate}} :</label>
                    <div class="col-md-3">
                        <p>{{schoolInfo?.contactsInfo?.primaryNumber}}</p>
                    </div>

                    <!-- label for secondary contact number -->
                    <label
                        class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'MANAGESCHOOL.SecondaryMobileNumber'
                        | translate}} :</label>
                    <div class="col-md-3">
                        <p>{{schoolInfo?.contactsInfo?.secondaryNumber}}</p>
                    </div>

                </div>
                <!-- /row -->

                <!-- row -->
                <div class="form-group row">
                    <!-- label for primary contact email -->
                    <label
                        class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'MANAGESCHOOL.PrimaryContactEmail'
                        | translate}}<span class=""> :</span></label>
                    <div class="col-md-3">
                        <p>{{schoolInfo?.contactsInfo?.primaryEmail}}</p>
                    </div>

                    <!-- label for secondary contact email -->
                    <label
                        class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'MANAGESCHOOL.SecondaryContactEmail'
                        | translate}} :</label>
                    <div class="col-md-3">
                        <p>{{schoolInfo?.contactsInfo?.secondaryEmail}}</p>
                    </div>
                </div>
                <!-- /row -->
                <!-- /contact information -->

                <!-- Address Information -->
                <h5>{{'MANAGESCHOOL.AddressInformation' | translate}}</h5>
                <hr />

                <!-- row -->
                <div class="form-group row">
                    <!-- label for Address line 1 -->
                    <label class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'MANAGESCHOOL.AddressLine1' |
                        translate}} :</label>
                    <div class="col-md-3">
                        <p>{{schoolInfo?.addressInfo?.addressLine1}}</p>
                    </div>

                    <!-- label for address line 2 -->
                    <label class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'MANAGESCHOOL.AddressLine2' |
                        translate}} :</label>
                    <div class="col-md-3">
                        <p>{{schoolInfo?.addressInfo?.addressLine2}}</p>
                    </div>
                </div>
                <!-- /row -->

                <!-- row -->
                <div class="form-group row">

                    <!-- label for locality -->
                    <label class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'MANAGESCHOOL.Locality' |
                        translate}} :</label>
                    <div class="col-md-3">
                        <p>{{schoolInfo?.addressInfo?.locality}}</p>
                    </div>

                    <!-- label for city -->
                    <label class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'MANAGESCHOOL.City' | translate}}
                        :</label>
                    <div class="col-md-3">
                        <p>{{schoolInfo?.addressInfo?.city}}</p>
                    </div>

                </div>
                <!-- /row -->


                <!-- row -->
                <div class="form-group row">

                    <!-- label for district -->
                    <label class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'MANAGESCHOOL.District' |
                        translate}} :</label>
                    <div class="col-md-3">
                        <p>{{schoolInfo?.addressInfo?.district}}</p>
                    </div>

                    <!-- label for state -->
                    <label class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'MANAGESCHOOL.State' |
                        translate}} :</label>
                    <div class="col-md-3">
                        <p *ngIf="schoolInfo?.addressInfo?.state=='TN'">Tamil Nadu</p>
                    </div>

                </div>
                <!-- /row -->


                <!-- row -->
                <div class="form-group row">

                    <!-- label for country -->
                    <label class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'MANAGESCHOOL.Country' |
                        translate}} :</label>
                    <div class="col-md-3">
                        <p>India</p>
                    </div>

                    <!-- label for pincode -->
                    <label class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'MANAGESCHOOL.Pincode' |
                        translate}} :</label>
                    <div class="col-md-3">
                        <p>{{schoolInfo?.addressInfo?.pincode}}</p>
                    </div>

                </div>
                <!-- /row -->


                <!-- row -->
                <div class="form-group row">

                    <!-- label for country -->
                    <label class="col-lg-3 col-sm-12 col-form-label font-weight-600">{{'COMMON.CreatedBy' |
                        translate}} :</label>
                    <div class="col-md-3">
                        <p>{{schoolInfo?.createdBy}}</p>
                    </div>

                    <!-- label for Message To School Trust -->
                    <label class="col-lg-3 col-sm-12 col-form-label font-weight-600" *ngIf="schoolInfo?.comments">
                        {{'MANAGESCHOOL.MessageToTrust' | translate}} :</label>
                    <div class="col-md-3" *ngIf="schoolInfo?.comments">
                        <p>{{schoolInfo?.comments}}</p>
                    </div>
                </div>
                <!-- /row -->

                <!-- Approval -->
                <div>
                    <div class="">
                        <h5>{{'REQUIREMENT.RequirementInformation' | translate }}</h5>
                        <hr />
                        <!-- row -->
                        <div class="form-group row">
                            <!-- label for registration number -->
                            <label class="col-lg-3 col-sm-12 col-form-label font-weight-600">
                                {{'REQUIREMENT.ConsolidateReferenceNumber'|translate}} :</label>
                            <div class="col-md-3">
                                <p>{{schoolInfo?.consolidateRefInfo?.consolidateId}}</p>
                            </div>
                        </div>
                        <!-- /row -->

                        <div class="table-responsive">
                            <table class="table table-bordered" id="tempTable">
                                <thead>
                                    <tr>
                                        <th>{{'REQUIREMENT.RequirementType'|translate}}</th>
                                        <th>{{'REQUIREMENT.AssetType'|translate}}</th>
                                        <th>{{'REQUIREMENT.AssetName'|translate}}</th>
                                        <th>{{'REQUIREMENT.Quantity'|translate}}</th>
                                        <th>{{'REQUIREMENT.SubmittedDate'|translate}}</th>
                                        <th>{{'COMMON.Status'|translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX" *ngFor="let data of requirementList">
                                        <td>{{data?.requirementType=='NE'?'New':'Maintenance'}}</td>
                                        <td>{{data?.assetType}}</td>
                                        <td>{{data?.assetName}}</td>
                                        <td>{{data?.quantity}}</td>
                                        <td>{{data?.createdDate|date:'dd/MM/yyyy'}}</td>
                                        <td><span class="badge badge-success">Volunteer Assigned</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <br />
                    <!-- Approval -->

                    <h5>{{'COMMON.ApprovalHistory' | translate }}</h5>
                    <hr />
                    <div class="table-responsive">
                        <table class="table table-bordered" id="tempTable">
                            <thead>
                                <tr>
                                    <th>{{'COMMON.ActionBy' | translate }}</th>
                                    <th>{{'COMMON.ActionDate&Time' | translate }}</th>
                                    <th>{{'MANAGEUSER.Role'|translate}}</th>
                                    <th>{{'COMMON.Status' | translate }}</th>
                                    <th>{{'COMMON.Remarks' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX" *ngFor="let data of approvalHistDtlsDTOs">
                                    <td>{{data?.actionBy}}</td>
                                    <td>{{data?.actionDate |date:'dd/MM/yyyy hh:mm:ss'}}</td>
                                    <td>{{data?.role}}</td>
                                    <td *ngIf="data?.status =='APR'"><span class="badge badge-success">Approved</span>
                                    </td>
                                    <td *ngIf="data?.status =='REJ'"><span class="badge badge-danger">Rejected</span>
                                    </td>
                                    <td>{{data?.remarks}}</td>

                                </tr>
                                <tr class="odd" *ngIf="(!approvalHistDtlsDTOs?.length)">
                                    <td style="text-align: center" colspan="10" class="dataTables_empty"><b>
                                            {{'RECORDS.NoRecords'|translate}}</b>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>



                    <div *ngIf="this.getToken('role')=='TRUSTV'">

                        <h5>{{'MANAGESCHOOL.Approval' | translate }}</h5>
                        <hr />
                        <div class="form-group row">
                            <label
                                class="col-lg-2 col-sm-12 col-form-label font-weight-600">{{'COMMON.Status'|translate}}
                                <span class="required"> *</span></label>
                            <div class="col-md-3" style="margin-bottom: 9px;">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadio1" [(ngModel)]="assignSchoolData.status"
                                        value="APR" name="customRadio" #status="ngModel" class="custom-control-input"
                                        required>
                                    <label class="custom-control-label" for="customRadio1">{{'COMMON.Accept' |
                                        translate
                                        }}</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadio2" [(ngModel)]="assignSchoolData.status"
                                        value="REJ" name="customRadio" #status="ngModel" class="custom-control-input"
                                        required>
                                    <label class="custom-control-label" for="customRadio2">{{'COMMON.Reject' | translate
                                        }}</label>
                                </div>

                            </div>

                        </div>

                        <!-- /row -->

                        <div class="form-group row">

                            <label class="col-lg-2 col-sm-12 col-form-label font-weight-600">{{'COMMON.DeoResponse' |
                                translate}}</label>
                            <div class="col-lg-4 col-sm-12 col-form-label">
                                <a type="button" class="btn btn-primary" (click)="download($event)">
                                    <!-- <button class="btn btn-primary" type="button"
                                        (click)="download()">{{'DEORESPONSE.DEOResponseFile' |
                                        translate}}</button> -->
                                    {{'DEORESPONSE.DEOResponseFile' |
                                    translate}}
                                </a>

                            </div>
                        </div>

                        <!-- <div *ngFor="let img of imageList,let i=index" style="display:none">
                            <img id="img{{i}}" src="{{img?.fileData}}" class="img-fluid" alt="">
                        </div> -->

                        <!-- row -->
                        <div class="form-group row">

                            <label class="col-lg-2 col-sm-12 col-form-label font-weight-600">{{'COMMON.Remarks' |
                                translate
                                }}<span class="required"> *</span></label>
                            <div class="col-lg-4 col-sm-12 col-form-label">
                                <app-nspl-multiline-text [data]="assignSchoolData.remarks"
                                    [(ngModel)]="assignSchoolData.remarks" [required]="true"
                                    placeholder="{{'COMMON.EnterRemarks'|translate}}" name="remarks">
                                </app-nspl-multiline-text>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /row -->

            </div>
            <!-- /card-body -->
            <div class="card-footer">
                <button type="submit" class="btn btn-primary" [disabled]="assignSchoolForm.invalid || isClickedOnce"
                    *ngIf="this.getToken('role')=='TRUSTV'">{{'COMMON.Submit'|translate }}</button>
                &nbsp;

                <button type="button" *ngIf="this.getToken('role')=='TRUSTV'" [routerLink]="['/main/assign-school']"
                    class="btn btn-danger">{{'COMMON.Cancel'| translate }}</button>

                <button type="button" *ngIf="this.getToken('role')!='TRUSTV'" [routerLink]="['/main/pending-workflow']"
                    class="btn btn-danger">{{'COMMON.Cancel'|translate }}</button>
            </div>

        </form>
        <!-- /Form -->
    </div>
    <!-- /dashboard content -->
</div>
<!-- /content area -->