<!-- Page header -->
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-lg-inline">
        <div class="page-title d-flex">

            <h4> <i class="icon-arrow-left52 mr-2"></i> <span
                    class="font-weight-semibold">{{'COMMON.Home'|translate}}</span> -
                {{'APPROVALWORKFLOW.FeaturesManagement'|translate}}</h4>

            <a href="javascript:;" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>

        </div>

         
    </div>

    <div class="breadcrumb-line breadcrumb-line-light header-elements-lg-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="javascript:;" [routerLink]="['/main/dashboard']" class="breadcrumb-item"><i
                        class="icon-home2 mr-2"></i> {{'COMMON.Home' | translate }}</a>
                <span class="breadcrumb-item active">{{'APPROVALWORKFLOW.FeaturesManagement'|translate}}</span>
            </div>

            <a href="javascript:;" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>

        
    </div>
</div>
<!-- /page header -->


<!-- Content area -->
<div class="content">
    <div class="card">
        <!-- Card Header -->
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h5 class="card-title">{{'APPROVALWORKFLOW.FeaturesManagementList'|translate}}</h5>
                </div>
                <div class="text-right">
                    <div class="actions">
                        <a href="javascript:;"
                            [routerLink]="['/main/approval-workflow/approval-workflow-edit','New']"><button
                                type="button" class="btn btn-success">
                                {{'COMMON.AddNew'|translate}}
                            </button></a>&nbsp;&nbsp;

                    </div>
                </div>
            </div>
        </div>
        <!-- Card Header -->

        <!-- Card Body -->
        <div class="card-body">

            <form #filterForm="ngForm" (ngSubmit)="applyFilter()">
                <div class="row">


                    <div class="col-md-3">
                        <!-- label for module  -->
                        <label>{{'APPROVALWORKFLOW.Module'|translate}}</label>
                        <ng-select name="module" [items]="modulesList" class="chosen-select" bindLabel="name"
                            bindValue="code" [(ngModel)]="filterObj.module" #module="ngModel" [clearable]='true'
                            [searchable]='false' [dropdownPosition]="'auto'"
                            placeholder="{{'APPROVALWORKFLOW.Module'|translate}}" required>
                        </ng-select>
                    </div>

                    <div class="col-md-3">
                        <!-- label for feature Name -->
                        <label> {{'APPROVALWORKFLOW.FeatureName'|translate}}</label>
                        <app-nspl-text [data]="filterObj.featureName"
                            placeholder="{{'APPROVALWORKFLOW.FeatureName'|translate}}"
                            [(ngModel)]="filterObj.featureName" [required]="true" name="featureName" NsplAplhaWithSpac>
                        </app-nspl-text>
                    </div>

                    <div class="col-md-6" style="margin-top: 25px;">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn btn-primary pull-right">
                                {{'COMMON.ApplyFilter'|translate}}
                            </button> &nbsp;

                            <button type="button" *ngIf="isFilterApplied" class="btn btn-danger pull-right"
                                (click)="resetFilter()">
                                {{'COMMON.ResetFilter'|translate}}
                            </button> &nbsp;
                        </div>
                    </div>


                </div>
            </form>
            <div class="table-responsive">
                <br />
                <!-- Table -->
                <table class="table datatable-basic table-bordered" id="tempTable">
                    <!-- Table Head -->
                    <thead>
                        <tr>
                            <th>{{'APPROVALWORKFLOW.FeatureId'|translate}}
                                <app-nspl-table-sort [sortCol]="moduleList" [sortTypeName]="'featureId'"
                                    [defaultSort]="'asc'">
                                </app-nspl-table-sort>
                            </th>
                            <th>{{'APPROVALWORKFLOW.FeatureName'|translate}}
                                <app-nspl-table-sort [sortCol]="moduleList" [sortTypeName]="'featureName'"
                                    [defaultSort]="'asc'">
                                </app-nspl-table-sort>
                            </th>
                            <th>{{'APPROVALWORKFLOW.Module'|translate}}
                                <app-nspl-table-sort [sortCol]="moduleList" [sortTypeName]="'module'"
                                    [defaultSort]="'asc'">
                                </app-nspl-table-sort>
                            </th>
                            <th>{{'COMMON.Status'|translate}}
                                <app-nspl-table-sort [sortCol]="moduleList" [sortTypeName]="'status'"
                                    [defaultSort]="'asc'">
                                </app-nspl-table-sort>
                            </th>
                            <th class="text-center">{{'COMMON.Action'|translate}}</th>
                        </tr>
                    </thead>
                    <!-- /Table Head -->

                    <!-- Table Body -->
                    <tbody>
                        <tr class="odd gradeX" *ngFor="let data of moduleList">
                            <td>{{data?.featureId}}</td>
                            <td>{{data?.featureName}}</td>
                            <td *ngIf="data?.module=='MNS'">Manage School</td>
                            <td *ngIf="data?.module=='MNB'">Manage Beneficiary</td>
                            <td *ngIf="data?.module=='MRQ'">manage Requirement</td>
                            <td *ngIf="data?.module=='PWF'">Pending Workflow</td>
                            <td *ngIf="data?.module=='REV'">Review Invoice</td>
                            <td *ngIf="data?.module=='CNV'">Change Volunteer</td>
                            <td *ngIf="data?.module=='MNC'">Manage User</td>
                            <td *ngIf="data?.module=='MNR'">Manage Role</td>
                            <td *ngIf="data?.module=='CEM'">Code Maintenance</td>
                            <td *ngIf="data?.module=='PCN'">Product Configuration</td>
                            <td *ngIf="data?.module=='APC'">Application Configuration</td>
                            <td *ngIf="data?.module=='FRM'">Feature Management</td>
                            <td *ngIf="data?.module=='ANN'">Announcement</td>
                            <td *ngIf="data?.module=='EMS'">Email Settings</td>

                            <td>{{data?.status}}</td>
                            <td class="text-center"><a href="javascript:;"
                                    [routerLink]="['/main/approval-workflow/approval-workflow-edit',data?.featureId]"
                                    class="list-icons-item"><i data-toggle="tooltip" tooltip="Edit"
                                        class="far fa-edit"></i></a>

                                <a href="javascript:;"
                                    [routerLink]="['/main/approval-workflow/approval-workflow-view',data?.featureId]"
                                    class="list-icons-item"><i data-toggle="tooltip" tooltip="View"
                                        class="far fa-eye"></i></a>
                            </td>
                        </tr>

                        <tr class="odd" *ngIf="(!moduleList?.length) && (!loading)">
                            <td style="text-align: center" colspan="10" class="dataTables_empty"><b>
                                    {{'RECORDS.NoRecords'|translate}}</b>
                            </td>
                        </tr>
                    </tbody>
                    <!-- /Table Body -->
                </table>
                <!-- /Table -->
            </div>

            <br />
            <div class="row" *ngIf='totalItem>0'>
                <div class="col-md-4 col-sm-12">
                    <div class="btn-group">
                        <ng-select (change)="rangeChanged(pagesize)" [items]="rangeList" bindLabel="name" bindValue="id"
                            placeholder="Select" [(ngModel)]="pagesize" [ngModelOptions]="{standalone: true}"
                            [clearable]='false' [searchable]='false' [dropdownPosition]="'top'">
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="dataTables_info" id="sample_editable_1_info">{{'PAGINATION.Showing'|translate}}
                        {{(number*size) + 1}} {{'PAGINATION.to'|translate}}
                        {{(number*size) + noofelements}} {{'PAGINATION.of'|translate}} {{totalElements}}
                        {{'PAGINATION.entries'|translate}}
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="dataTables_paginate paging_bootstrap">
                        <pagination class="page" [boundaryLinks]="showBoundaryLinks" [rotate]="'true'"
                            [itemsPerPage]='pagesize' name="currentPage" ngDefaultControl [totalItems]="totalItem"
                            [maxSize]="5" [(ngModel)]="currentPage" [ngModelOptions]="{standalone: true}"
                            (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;"
                            firstText="&laquo;" lastText="&raquo;">
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Card Body -->
    </div>
</div>
<!-- /content area -->
<ngx-ui-loader hasProgressBar=false fgsType="three-strings"></ngx-ui-loader>