<div class="navbar navbar-expand-lg navbar-dark bg-indigo navbar-static">
    <div class="d-flex flex-1 d-lg-none">

        <button class="navbar-toggler sidebar-mobile-main-toggle" type="button" id="toggler">
            <i class="icon-paragraph-justify3"></i>
        </button>
    </div>

    <div class="navbar-brand text-center text-lg-left">
        <a href="javascript:;" class="d-inline-block">
            <img src="assets/images/logo-small.png" alt="">
            <!-- <span class="icon-title">PUTHOLI</span> -->
        </a>
    </div>



    <ul class="navbar-nav flex-row order-1 order-lg-2 flex-1  justify-content-end align-items-center">
        <li class="nav-item nav-item-dropdown-lg dropdown dropdown-user h-100">
            <a href="javascript:;"
                class="navbar-nav-link navbar-nav-link-toggler dropdown-toggle d-inline-flex align-items-center h-100"
                data-toggle="dropdown">
                <img alt='' style="width: 40px;" class="rounded-pill mr-lg-2 "
                    [src]="(this.getToken('profilePic')?this.base64Image+this.getToken('profilePic'):'assets/images/header-profile.png')" />&nbsp;
                <img *ngIf="userData" src="{{userData.photoUrl}}" class="rounded-pill mr-lg-2 " height="34" alt=""
                    style="width: 40px;">

                <div> <span class='username'>{{this.getToken('username')}}</span></div>

            </a>

            <div class="dropdown-menu dropdown-menu-right">
                <a href="javascript:;" class="dropdown-item" [routerLink]="['/main/my-profile']"><i
                        class="icon-user-plus"></i> {{'HEADER.Myprofile'|translate}}</a>
                <div class="dropdown-divider"></div>

                <p class="font-weight-600" style="text-align: center;">{{'HEADER.Languages'|translate}}</p>
                <div class="dropdown-divider"></div>
                <a href="javascript:;" class="dropdown-item"
                    (click)="translate.use(homeInfo.lang);translateLanguage('en')">{{'HEADER.English'|translate}}</a>

                <a href="javascript:;" class="dropdown-item"
                    (click)="translate.use(homeInfo.lang);translateLanguage('tm')">{{'HEADER.Tamil'|translate}}</a>
                <div class=" dropdown-divider">
                </div>

                <a href="javascript:;" [routerLink]="['/main/change-password']"
                    class="dropdown-item"><i class="icon-lock5"></i>
                    {{'HEADER.ChangePassword'|translate}}</a>
                <a href="javascript:;" class="dropdown-item" (click)="logout()"><i class="icon-switch2"></i>
                    {{'HEADER.Logout'|translate}}</a>
            </div>
        </li>
    </ul>
</div>